.warp{
	width: 100vw;
	height: auto;
	margin-top: 100px;
}

.sidebar .menu-icon{
	font-size: 14px;
}
.sidebar .menu-btn{
	position: fixed;
	display: block;
	font-size: 16px;
	color: #ccc;
	text-align: center;
	line-height: 40px;
	height: 40px;
	width: 90px;
	background-color: #FFF;
	border-radius: 4px;
	border: 1px solid #ccc;
	margin-left: -110px;
	margin-top: 20px;
	text-decoration: none;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.sidebar .menu-btn:hover{
	color: #1F6D83;
	border: 1px solid #1F6D83;
}
.sidebar .sidebar-header{
	margin-top: 100px;
}
.sidebar-header .sidebar-header-left{
	float: left;
}
.sidebar-header .head{
	width: 64px;
	height: 64px;
}
.sidebar-header .name{
	font-size: 24px;
	line-height: 64px;
}
.sidebar .sidebar-body{
	margin-top: 50px;
}
.sidebar-body .list-group .list-group-item{
	border-radius: 0;
	background-color: #000;
	border: 0;
	border-top: 1px solid #FFF;
	color: #FFF;
	font-size: 16px;
	font-weight: 500;
}
.sidebar-body .list-group .list-group-item:hover{
	background-color: #FFF;
	color: #000;
}
.list-group-item .new-messages{
	line-height: 16px;
	background-color: #FFF;
	color: #000;
}
.sidebar-body .list-group .list-group-item:hover .new-messages{
	background-color: #000;
	color: #FFF;
}

.container{
	min-height: 100vh;
}
.word-container{
	border: 2px solid #000;
	border-top: 0;
	padding: 20px;
}
.word-container:first-child{
	border-top: 2px solid #000;
}
.word-left .head-sculpture{
	margin-top: 20px;
	height: 100px;
	width: 100px;
}
@media (max-width: 768px) {
  .word-left .head-sculpture {
	height: 70px;
	width: 70px;
  }
}
.word-body .word-head{
	min-height: 50px;
}
.word-head h3{
	font-family: "Microsoft YaHei";
}
.word-head h3 small{
	padding-left: 20px;
	color: #DADAD6;
}
.word-body .word-content{
	min-height: 200px;
}
.word-body .word-foot{
	min-height: 20px;
	text-align: right;
	margin-bottom: 20px;
}
.word-foot b{
	padding-right: 20px;
	color: #CCC;
}
.word-foot .btn-comment{
	height: 30px;
	padding: 0 10px 0 10px;
	box-shadow: 2px 2px 4px #337ab7;
}
.word-container .reply-container{
	border: 1px solid #000;
	border-top: 0;
	padding: 5px;
}
.word-container .reply-container:first-child{
	border-top: 1px solid #000;
}
.word-container .reply-container:after{
	content: "";
	display: block;
	visibility: hidden;
	clear: both;
	overflow: hidden;
	height: 0;
}
.reply:after{
	content: "";
	display: block;
	visibility: hidden;
	clear: both;
	overflow: hidden;
	height: 0;
}
.reply-container .reply-left{
	width: 20%;
	max-width: 64px;
}
.reply-left .head-sculpture{
	margin-left: 5px;
	height: 64px;
	width: 64px;
}
@media (max-width: 768px) {
  .reply-left .head-sculpture {
	height: 50px;
	width: 50px;
  }
}
.reply-container .reply-body{
}
.reply-head h5{
	margin-top: 5px;
	padding-left: 10px;
}
.reply-head h5 small{
	padding-left: 5px;
	color: #DADAD6;
}
.reply-body p{
	padding-left: 10px;
}

.reply-body .reply-foot{
	min-height: 20px;
	text-align: right;
}
.reply-foot b{
	padding-right: 20px;
	color: #CCC;
}
.reply-foot .btn-reply{
	font-size: 12px;
	height: 20px;
	padding: 0 5px 0 5px;
	box-shadow: 1px 2px 2px #337ab7;
}
.word-container .reply-frame{
	display: none;
}
.word-container .reply-frame .row{
	border: 1px solid #000;
	padding: 5px;
}
.word-container .reply-frame:after{
	content: "";
	display: block;
	visibility: hidden;
	clear: both;
	overflow: hidden;
	height: 0;
}
.reply-frame textarea{
	border: 0;
	resize: none;
	border: 2px solid #acdcdf;
	margin-bottom: 5px;
	min-height: 100px;
}
.reply-frame .reply-frame-foot{
	float: right;
}
.reply-frame-foot img{
	width: 20px;
	margin-right: 5px;
	cursor: pointer;
}
.reply-frame-foot img:hover{
	background-color: #CCC;
	border-radius: 10px;
}
.reply-frame-foot .btn-report{
	font-size: 12px;
	height: 20px;
	padding: 0 5px 0 5px;
	margin-right: 10px;
	box-shadow: 1px 2px 2px #337ab7;
}