
.sidebar .menu-icon{
	font-size: 14px;
}
.sidebar .menu-btn{
	display: block;
	font-size: 16px;
	color: #ccc;
	text-align: center;
	line-height: 40px;
	height: 40px;
	width: 90px;
	background-color: #FFF;
	border-radius: 4px;
	border: 1px solid #ccc;
	margin-left: -110px;
	margin-top: 20px;
	text-decoration: none;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.sidebar .menu-btn:hover{
	color: #1F6D83;
	border: 1px solid #1F6D83;
}
.sidebar .sidebar-header{
	margin-top: 20px;
}
.sidebar-header .sidebar-header-left{
	float: left;
}
.sidebar-header .head{
	width: 64px;
	height: 64px;
}
.sidebar-header .name{
	font-size: 24px;
	line-height: 64px;
}
.sidebar .sidebar-body{
	margin-top: 50px;
}
.sidebar-body .list-group .list-group-item{
	border-radius: 0;
	background-color: #000;
	border: 0;
	border-top: 1px solid #FFF;
	color: #FFF;
	font-size: 16px;
	font-weight: 500;
}
.sidebar-body .list-group .list-group-item:hover{
	background-color: #FFF;
	color: #000;
}
.list-group-item .new-messages{
	line-height: 16px;
	background-color: #FFF;
	color: #000;
}
.sidebar-body .list-group .list-group-item:hover .new-messages{
	background-color: #000;
	color: #FFF;
}

.container{
	min-height: 100vh;
}