<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=.7,user-scalable=no,maximum-scale=.7">
	<title>留言板</title>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" href="../static/css/base.css" th:href="@{/css/base.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/wangEditor.min.css" th:href="@{/css/wangEditor.min.css}">
	<!-- my css -->
	<link rel="stylesheet" type="text/css" href="../static/css/black-board.css" th:href="@{/css/black-board.css}">
	<link rel="stylesheet" type="text/css" href="../static/css/animate.min.css"  th:href="@{/css/animate.min.css}">
</head>
<body>
	<input id="username" type="hidden" th:if="${session.username!=null}" th:value="${session.username}">
	<!-- 遮罩层 -->
	<div id="mask-top"></div>
	<div id="mask-bottom"></div>
	<div id="mask-main">
	</div>
	<!-- 第一个版本 -->
	<!-- <div id="header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-6" id="h1-box"><h1>HEAD|<small>COUNTRY-SIDE</small></h1></div>
					<div class="col-xs-2" id="nav-first"><img src="../static/../static/img/index/nav.png" th:src="@{/img/index/nav.png}"></div>
					<div class="col-xs-2" id="nav-second">
					<a href="#"><img src="../static/../static/img/index/heart-red.png" th:src="@{/img/index/heart-red.png}"></a>
					</div>
					<div class="col-xs-2" id="nav-third"><img src="../static/../static/img/index/person.png" th:src="@{/img/index/person.png}"></div>
			</div>
		</div>
	</div> -->
	<!-- 第二个版本 -->
	<div id="header">
		<div id="box-left">
			<div id="item1">
				<img src="../static/img/index/nav.png" th:src="@{http://optpqehds.bkt.clouddn.com/bc/images/navbar/nav.png}"><span>MENU</span>
			</div>
		</div>
		<div id="box-right"><input type="text" name="" placeholder="Search Someting" id="text"><button id="do" class="glyphicon glyphicon-search"></button></div>
		<div id="item4"><span class="glyphicon glyphicon-search"></span></div>
		<a href="login.html" th:if="${session.username == null}" th:href="@{user/login}"><div id="item3">REGISTER/LOG IN</div></a>
		<a href="login.html" th:if="${session.username != null}" th:href="@{#}"><div id="item3" th:text="${session.username}"></div></a>
		<div id="item2"><a href="#"><img src="../static/img/index/heart-red.png" th:src="@{http://optpqehds.bkt.clouddn.com/bc/images/navbar/heart-red.png}"></a>/ do you like our web?</div>
		<div id="logo">
			Beautiful CountrySide
		</div>
	</div>

	<div id="header-static">
		<div id="logo">Beautiful CountrySide</div>
		<div id="menu-box">Menu</div>
		<div id="login-box">User</div>
		<div id="search-box">
			<div id="search">
				<span class="glyphicon glyphicon-search"></span><input type="text" name="search" class="form-control" placeholder="search">
			</div>
		</div>
	</div>
	<!-- 左侧导航条 -->
	<div id="header-left">
		<div id="head">
			<a href="#">ENGLISH</a><span id="text">close <span class="glyphicon glyphicon-remove"></span></span>
		</div>
		<a href="index.html" th:href="@{/}"><div id="items">Home <span class="glyphicon glyphicon-map-marker"></span></div></a>
		<a href="Food.html" th:href="@{food}"><div id="items">Food <span class="glyphicon glyphicon-fire"></span></div></a>
		<a href="scene.html" th:href="@{scene}"><div id="items">Scenery <span class="glyphicon glyphicon-leaf"></span></div></a>
		<a href="Policy.html" th:href="@{policy}"><div id="items">Policy <span class="glyphicon glyphicon-comment"></span></div></a>
		<a href="Black-board.html" th:href="@{blackboard?pageNum=1}"><div id="items">Blackborad <span class="glyphicon glyphicon-edit"></span></div></a>
		<a href="#"><div id="items">About Us <span class="glyphicon glyphicon-align-right"></span></div></a>
		<div id="bottom"><img src="../static/img/index/qr_code.png" th:src="@{http://optpqehds.bkt.clouddn.com/bc/images/navbar/qr_code.png}"></div>
		<div id="change">Did your eye tired ?<span class="glyphicon glyphicon-off"></span><!-- 此处点击后整个网页变成护眼模式 --></div>
	</div>

	<!-- __________________一条华丽丽的分隔线__________________-->
	<!-- 主面板 -->
	<div class="main">
		<div class="container">
			<div class="main-container">
				<!-- 主头部 -->
				<div class="main-head">
					<h3 class="animated fadeIn" th:if="${session.username!=null}">既然来了，就说点什么吧！</h3>
					<h3 class="animated bounce" th:if="${session.username==null}" style="text-align: center;">登录后才能留言哦！</h3>
					<div th:if="${session.username!=null}" id="leave-message"></div>
					<div th:if="${session.username!=null}" class="leave-message-foot">
					<button id="leave-message-btn" class="btn btn-primary">留言</button>
					</div>
				</div>
				<div class="floor-content">
					<!-- 楼层 -->
					<div class="floor" th:each="floors : ${floors}">
						<div class="row">
							<div class="col-xs-12">
								<!-- 留言 -->
								<div class="floor-container">
									<!-- 留言头部 -->
									<div class="floor-head">
										<img class="head-sculpture" src="../static/img/1.jpg" th:src="${floors.imgSrc}">
										<span class="name"  th:text="${floors.username}">张三</span>
										<!-- <small th:text="${floors.flNum}+'楼'">221楼</small> -->
									</div>
									<!-- 留言内容 -->
									<div class="floor-body">
										<p th:utext="${floors.content}">它的父元素是视窗（浏览器默认用来展示内容的区域的尺寸，不是html 或body 的尺寸）。</p>
									</div>
									<!-- 留言尾部 -->
									<div class="floor-foot">
										<input type="hidden" value="-1" th:value="${floors.id}">
										<p th:text="${floors.time}">2017年4月19日14:54:50</p>
										<a class="btn-zan" th:value="${floors.id}"><img src="../static/img/zan.png" th:src="@{http://optpqehds.bkt.clouddn.com/bc/images/blackboard/zan.png}"><span class="zan-count" th:text="${floors.zanCount}">2</span></a>
										<a class="btn-comment"><img src="../static/img/comment.png" th:src="@{http://optpqehds.bkt.clouddn.com/bc/images/blackboard/comment.png}"><span class="reply-count" th:text="${floors.rpCount}">2</span></a>
									</div>
									<!-- 回复层 -->
									<div class="reply-container">
										<!-- 回复 -->
										<div class="replys"></div>
										<!-- 回复框 -->
										<div class="reply-frame"  th:if="${session.username==null}"><a href="login.html" th:href="@{user/login}"><h3>登录后才可回复哦！</h3></a></div>
										<div class="reply-frame"  th:if="${session.username!=null}">
											<div class="reply-frame-head">回复</div>
											<!-- 回复文本域 -->
											<div class="reply-textarea">
											</div>
											<div class="reply-frame-foot">
												<a class="btn btn-default btn-reply">回复</a>
												<input type="hidden" th:value="${floors.id}">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="reply-textarea-content">
					<div id="reply-textarea"></div>
				</div>
				<nav class="pagination-nav">
				  <ul class="pagination">
				    <li>
				      <a href="#" th:href = "'blackboard?pageNum='+${currentPage-1}" th:unless = "${currentPage} == 1">
				        <span >&laquo;</span>
				      </a>
				    </li>
				    <script th:inline="javascript">
				    	var pageSum = 3;
				    	pageSum = /*[[${pageSum}]]*/;
				    	var currentPage =1;
				    	currentPage = /*[[${currentPage}]]*/;
				    	if(pageSum >= 1){
				    		for(var i = 1; i <= pageSum ; i++){
				    			if( i==currentPage){
				    				document.write(" <li class='active'><a href='blackboard?pageNum="+i+"'>"+i+"</a></li>");
				    			}else{
				    				document.write(" <li><a href='blackboard?pageNum="+i+"'>"+i+"</a></li>");
				    			}
				    		}
				    	}
				    </script>
				    <li>
				      <a href="#" th:href = "'blackboard?pageNum='+${currentPage+1}" th:unless = "${currentPage} == ${pageSum}">
				        <span>&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</nav>
			</div>
		</div>
	</div>
	<!-- 导入js -->
	<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../static/js/wangEditor.js" th:src="@{/js/wangEditor.js}"></script>
    <script src="../static/js/plupload.full.min.js" th:src="@{/js/plupload.full.min.js}"></script>
    <script src="../static/js/zh_CN.js" th:src="@{/js/zh_CN.js}"></script>
    <script src="../static/js/qiniu.js" th:src="@{/js/qiniu.js}"></script>
	<script src="../static/js/index-nav.js" th:src="@{/js/index-nav.js}"></script>
	<script src="../static/js/blackboard.js" th:src="@{/js/blackboard.js}"></script>
</body>
</html>