<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>美丽乡村</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=.7,user-scalable=no,maximum-scale=.7">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" href="../static/css/base.css" th:href="@{/css/base.css}">
	<link rel="stylesheet" type="text/css" href="../static/css/OldStreetText.css">
</head>
<body>
	<!-- 遮罩层 -->
	<div id="mask-top"></div>
	<div id="mask-bottom"></div>
	<div id="mask-main">
		
	</div>
	<!-- 第一个版本 -->
	<!-- <div id="header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-6" id="h1-box"><h1>HEAD|<small>COUNTRY-SIDE</small></h1></div>
					<div class="col-xs-2" id="nav-first"><img src="img/index/nav.png"></div>
					<div class="col-xs-2" id="nav-second">
					<a href="#"><img src="img/index/heart-red.png"></a>
					</div>
					<div class="col-xs-2" id="nav-third"><img src="img/index/person.png"></div>
			</div>
		</div>
	</div> -->
		<!-- 第二个版本 -->
	<div id="header">
		<div id="box-left">
			<div id="item1">
				<img src="../static/img/index/nav.png" th:src="@{http://optpqehds.bkt.clouddn.com/bc/images/navbar/nav.png}"><span>MENU</span>
			</div>
		</div>
		<div id="box-right">
			<input type="text" name="" placeholder="Search Someting" id="text"><button id="do" class="glyphicon glyphicon-search"></button>
			<div class="search-items">
				<ul>
					<!-- 此处添加搜索列表 -->
					
					
				</ul>
			</div>
		</div>
		<div id="item4"><span class="glyphicon glyphicon-search"></span></div>
		<a href="login.html" th:if="${session.username == null}" th:href="@{/user/login}"><div id="item3">REGISTER/LOG IN</div></a>
		<a href="login.html" th:if="${session.username != null}" th:href="@{#}"><div id="item3" th:text="${session.username}"></div></a>
		<div id="item2"><a><img src="../static/img/index/heart-red.png" th:src="@{http://optpqehds.bkt.clouddn.com/bc/images/navbar/heart-red.png}"></a>/ do you like our web?</div>
		<div id="logo">
			Beautiful CountrySide
		</div>
	</div>

	<div id="header-static">
		<div id="logo">Beautiful CountrySide</div>
		<div id="menu-box">Menu</div>
		<div id="login-box" th:if="${session.username == null}"><a href="login.html" th:href="@{/user/login}">Login</a></div>
		<div id="login-box" th:if="${session.username != null}"><img src="../static/img/1.jpg" th:src="${session.userHeadImg}"></div>
		<div id="search-box">
			<div id="search">
				<span class="glyphicon glyphicon-search"></span><input type="text" name="search" class="form-control" placeholder="search">
			</div>
		</div>
	</div>
	<!-- 左侧导航条 -->
	<div id="header-left">
		<div id="head">
			<a href="#">ENGLISH</a><span id="text">close <span class="glyphicon glyphicon-remove"></span></span>
		</div>
		<a href="index.html" th:href="@{/}"><div id="items">Home <span class="glyphicon glyphicon-map-marker"></span></div></a>
		<a href="Food.html" th:href="@{/food}"><div id="items">Food <span class="glyphicon glyphicon-fire"></span></div></a>
		<a href="scene.html" th:href="@{/scene}"><div id="items">Scenery <span class="glyphicon glyphicon-leaf"></span></div></a>
		<a href="Policy.html" th:href="@{/policy}"><div id="items">Policy <span class="glyphicon glyphicon-comment"></span></div></a>
		<a href="Black-board.html" th:href="@{/blackboard?pageNum=1}"><div id="items">Blackborad <span class="glyphicon glyphicon-edit"></span></div></a>
		<a href="#"><div id="items">About Us <span class="glyphicon glyphicon-align-right"></span></div></a>
		<div id="bottom"><img src="../static/img/index/qr_code.png" th:src="@{http://optpqehds.bkt.clouddn.com/bc/images/navbar/qr_code.png}"></div>
		<div id="change">Did your eye tired ?<span class="glyphicon glyphicon-off"></span><!-- 此处点击后整个网页变成护眼模式 --></div>
	</div>

	<!-- __________________一条华丽丽的分隔线__________________-->
	
	<div id="body">
		<div class="bg-img"></div>
		<div class="content">
			<div class="items">
						
				<h1>二、徜徉老街</h1>
				<div class="img-box">
					<img src="../static/img/OldStreet/img1.jpg">
					<img src="../static/img/OldStreet/img2.jpg">
					<img src="../static/img/OldStreet/img3.jpg">
					<img src="../static/img/OldStreet/img4.jpg">
					<img src="../static/img/OldStreet/img5.jpg">
					<img src="../static/img/OldStreet/img6.jpg">
					<img src="../static/img/OldStreet/img7.jpg">
					<img src="../static/img/OldStreet/img8.jpg">
					<img src="../static/img/OldStreet/img9.jpg">
					<img src="../static/img/OldStreet/img10.jpg">
					<img src="../static/img/OldStreet/img11.jpg">
					<img src="../static/img/OldStreet/img12.jpg">
					<img src="../static/img/OldStreet/img13.jpg">
					<img src="../static/img/OldStreet/img14.jpg">
					<img src="../static/img/OldStreet/img15.jpg">
					<img src="../static/img/OldStreet/img16.jpg">
					<img src="../static/img/OldStreet/img17.jpg">
					<img src="../static/img/OldStreet/img18.jpg">
					<img src="../static/img/OldStreet/img19.jpg">
					<img src="../static/img/OldStreet/img20.jpg">
				</div>
				<div class="font-box">
					<p>河桥这个地名,最旱出现应在明化(1465-1487)之后。</p>
					<p>南宋咸淳年间(1265-1274),昌化(县)分玉山、金山、永丰、吴安四乡,以昌化县城为中心,左上区是玉山乡,右上区是水丰乡,左下区是金山乡,右下区为吴安乡。河桥隶属吴安乡,当年的名称叫吴安乡道泰里。古代的“里”是“乡”以下的地 方组织,有“百家为里”的说法,乡民常称“里人"。</p>
				    <p>至明成化年间,据《杭州府志》记载,昌化仍分四乡,辖五十“里”。</p>
				    <p>清康熙(1662-1722)前,昌化已分成“十·二都”(其中二、六都撤并)康熙《昌化县志》有“河桥”之名称:“河桥,县南十五里,属五都,周龙骐河桥形胜记入艺文。”后来昌化县设堪村、朱柳、河桥、颊口四镇。清雍正七年(1729),昌化县划分为150庄,其中有五都河桥庄。道光年间(1821-1850),又出现“市”的概念,全县设县市、栗树溪市、赤石市、白牛四市。这个“市”,不是现在的城市,它是商贸集市,是人流密集、生意兴隆的热闹之村,归乡镇管辖。四个集市中,河桥有果树溪、赤石两个,足见河桥商贸之兴旺发达。县志给出的条目解释是:“栗树溪市,在四都下阮庄,昔为商民聚居、舟楫停泊之所；赤石市,在七都街,昌淳两邑山货所聚。”由此可见,河桥这一地名,是在明成化与清康熙期间立生的,其由来也没有什么典故,仅仅是因桥而得名:“河桥,县南十五里,旧日系木桥上加沙灰,俗名石灰桥。康熙八年,石室寺僧募建砖桥,乾隆四十六年里人郑俊候改建石桥,后圮,光绪二十八年里人胡书奥等重葺”。</p>
				   <p> 现今的河桥,政区轮廓基本保留着清朝时的模样。所谓河桥古镇,其实就是一条街。老街即古镇,古镇亦老街。沿山傍水的街道,挤挤挨挨的房子加上深浅不一的十几条弄堂,看上去像是玉屏山下的卧龙,又仿佛是柳溪江边的一艘老船。
					</p>
					<p>
					“唐昌首镇”门楼下伸延。这种门楼,好像是街亭,分踞于老街东西两端,河桥人习惯把它称为“城门”。据传,那时的“城门”,“磐石坚木筑之,上有街楼,高三丈,宽二丈”。门楼下的通道,“阔可通车马”,厚重的铁环大门“刀箭不入”。大门昼开夜闭,以阻盗贼,若有乡人夜归,或呼叫或击缶,门丁以火把照之,非街坊居民概不启闩。遗憾的是,如此高耸坚实的街楼城门不知何时消失了,是毁于兵火,还是圮于失修?看来,岁月真的无情,任何“磐石”“坚木”,都挡不住历史风雨的摧残。
					</p>
					<p>
					清朝、民国时,出西端城门,有两条路,往南沿河过石灰桥通往七都八都,直至淳安;向西笔直通往五都蒲村峡川。因此,门开二洞,一门朝南,一门朝西。如今,我们所见到的有“唐昌首镇”四字的西端“城门”,是20世纪70年代河桥中学章敦尚先生与誉光村泥瓦名匠杨朝中、王家槐合作的成果。几十年过去了,“城门”经风霜剥蚀,略带沧桑之感,所以青少年和外地人都以为是古代遗迹。
					</p>
					<p>
					1942年,国民党多支部队驻扎河桥,昌南区公所、浙西行署办事处以及行署兵工厂(修械所)也在此地因此河桥成了日军的攻击目标。5月的一天,日机飞临河桥上空在下阮、白下下、警局门口、茄村田畈及城门一带,投下七八枚燃烧弹,炸死乡民数十人。其中茄村畈炸死耕田农夫2人、水牛1头古镇上炸死居民3人,包括城门在内的几十间民房被烧毁,城门口那株古柏亦成半树焦枝。城门带遭轰炸后,直至新中国成立初期还是一片瓦砾废墟。
					</p>
					<p>
					穿过城门,漫步于老街,街道微弯,不能一目了然,仿佛有意留一点神秘的气息、曲径通幽的雅致。老街东西走向,长达千余米,徽式建筑,很有屯溪老街的格调。街道用石板和鹅卵石铺设,平整而干净。20世纪60年代以前,街面全是青石板,被踩磨得油光发亮,雨后不积水,夜晚有反光。两旁是江南传统建筑中固有的封火墙,很自然地把街道两边的房子分隔成一家一家店铺。街上的房子,新旧交错,百年以上的老宅占半成以上。高踞于屋巅的“马头”,翘着大拇指般的挑肩,静静地俯视着街面与行人。
					</p>
					<p>老街石板底下,有一条叫“奥沟”的水渠,冠名“太平沟”或“太平官沟”,这是老街独具魅力的特色之一。水从镇西石壁湾缓缓流来,安详地经过每家每户的门前,每隔几十米开出一个口子,并且与大户人家的天井门堂相沟通,可给家中鱼池注进活水。太平沟的来历,有说是洪、胡两姓族人联手开凿的,有说是官府出资开凿的。这是历史的遗存,从前小孩子能从沟底的泥沙中摸出古镇的碎物:铜钱、玉珠、银链、发簪、断戒、铁扣……·有人说,“太平沟”贯穿全街,是古镇龙脉。沟活,则古镇兴;沟淤,则古镇亡。接通自来水之前,女人在这里洗菜浣衣,男人在这里濯足沐身。要是遇到火灾,它是消防水源倘若遭洪水袭扰,又成泄洪通道。太平沟是河桥人民的生活之水、纳凉之水防灾之水,河桥人称之为“吉祥水”,理应好好保护。</p>
					<p>
						除了“太平沟”,河桥老街尚多泉井。河桥依山傍河,不缺水源,但山洪暴雨一来,河水浑黄,不能饮用,故须筑水井。据传,明清时河桥有井18口井水冬暖夏凉,清澈洁净,汲取也很方便。如今仍可用的尚有5处,即城门东井、相公井、塘坞井、神妙泉、盐置井。相公井据说是吴越柯老相公唐昌治水时所开凿,至今已逾千年。清道光二十九年(1849)闰四月,浙西地震引发洪水,昌化一带山崩石裂,田积沙石,泉井被淤,漂毁庐室无数。四年后的咸丰三年(1853),浙西再次遭地震,多数泉井塌埋,相公井亦未幸免。直至20世纪70年代,曙光村村民在原井址挖掘重建,相公井才得以重见天日。
					</p>
					
					<p>街道窄窄的,宽不过三五米,听得见对门的说笑声,看得清端着饭碗站在门口的邻居筷子夹着的菜肴。店铺里的伙计,如果从柜台里伸出手来,也许就能拉住街上的行人。楼房二层的居多,从门里望进去,深邃而不知底细。两排对峙着的屋檐,最窄处几乎相碰,只留出一条带状的天空。要是下雨,两排檐水会喷下来,垂下一条茫茫的水幕。倘若拿根竹竿,一头搁在自家楼窗,头搭在对门屋背,就可以晾衣裤了,有时灯笼就是这样挂的。街上的店铺都很小,经营的都是生活中最常见的东西,便宜而实用,简单又齐全。店家苦心经营着他们亲自创办或祖上传下来的小本生意,虽发不了大财,小日子却也过得滋润。</p>
					<p>徜徉老街,留心观察,会发现墙头上残留着不少老式标语。“野营训练是种好方法”,落款是杭州市轻工系统野营队,刷写时间为1971年2月。“大批资本主义,大批修正主义,大搞社会主义”“要斗私批修”“深挖洞、广积粮、不称霸”“农业的根本出路在机械化”等,都是“文革”的产物。“严防台湾空降特务”“粉碎美蒋勾结反攻大陆”,虽然写于20世纪60年代初,但依旧矾红未褪,历历在目。再早一些,还有“打倒日本帝国主义”“誓死抗战到底!”等,须仔细辨认才能看出,毕竟七十多年了。现在,这几句隐约可见的标语上面,覆盖着“伟大领袖毛主席万岁!”等。这些标语,是时代的烙印、历史的印痕,也是追忆往事的触角。
					</p>
					<p>随意地走进一户人家,跨进尺把高的门槛,便站在了主人房屋的前厅要是早些年,这里必定还是店堂,因为看得出当年排门框台的形象,门槛上还留着上排门的沟槽。前厅与中堂之间是天井,有时燕子会从天井俯冲下来,把嘴里衔着的小虫哺给楼板下泥窝里的乳燕,然后又蹿出天井,直冲云天。中堂即是“堂前”“上皇头”,是从前家族祭祀、聚会,办理婚丧大事的场所,显得格外宽敞。从中堂的边门继续进去,就是别有洞天的后院了。厨房、柴屋、猪圈、菜地都有,一直可以通到河边的溪埠。</p>
					<p>沿河缓缓而行,见到的又是另外一种风景:远处的山峦、近处的田野溪中的石堰、水上的木桥……沿河的路很窄,脚步几乎碰着墙根。石缝里窜出的灌木枝条,墙上爬满的野藤蒿草,以及路边颜色苍老的系船石,都在诉说着古镇的历史,仿佛一位垂暮的老人正拄着拐杖,伫立在河边,向人们讲述着那些光阴的故事。蹲在河埠,俯首可视水中沙石游鱼;一边聆听流淌的边凝望沿河而筑的楼宇房屋,遥想着古人怎样在此叠石垒、砌砖造房,那真是“心鹜八极,神游万仞”。</p>
					<p>据说,民国时期的河桥街异常热闹。如果置身其中,同大强、胡福隆、同怡昌、永和财、胡森盛张瑞华、许益隆、物育堂、积善堂惠元堂、光裕堂、胡升号、余义泰卢永兴、胡震丰、兴隆斋、夜旺阁汪益茂、同立祥、柴志振等数不胜数的老字号一个接一个映入眼帘,黝黑的门框上贴着红底黑字的对联,空气中弥漫着蚕茧、生丝、茶叶、药材、萸肉的味道,叫卖声此起彼伏,或急促,或高亢,或悠远,如同跌进了一条涨水了的商业小河,似乎有无形的手拉着你驻足店前,又有汹涌的波涛推着你继续往前游。店有店规,商有商道。一家紧挨一家的店铺,都秉承着谦恭而守规矩的徽商遗风,无论掌柜伙计,站有站相,坐有坐姿;立不倚门,笑不露齿;热情而不强行拉客,交谈而无太多寒喧。</p>
					<p>那时,在街道的开阔处,往往歇着竹木柴炭的担子。挑夫们坐在街沿的石条上,啃着烧饼,擦着汗水,一言不发等待买主上前问价。而刚上岸的船工,腿肚上还滴着水珠,就忙不迭地走进了酒店。他们是“灶头打在脚背上”的男人,“喝大碗酒,吃大块肉”,是人生中必不可少的风景。夜幕下的老街,店家点亮了煤汽灯,两边并排的“灯光”摇曳着一字铺开,就像两条暖色的动感的线条,柔情地延伸开去,圈住了两边的房子,热辣辣地撩拨着行人的思绪。人流丝毫不比白昼少,算盘照样拨得嗒嗒响。望着熙熙攘攘的行人,灯影里的老板显得更有精神,底气十足。</p>
					<p>走在老街上,踩着脚下的石板路,望着斑驳古旧的街房,抚摸着老墙门上生锈的铜环,或干脆坐在磨得油光发亮的青石门槛上遥想,感觉像是在触摸古镇的根须,阅读一本泛黄了的线装书。</p>河桥隶属原昌化县,历来为吴越之境,因物华天宝,邑水口形胜,商务独冠唐昌”,而被称作“唐昌首镇”。河桥老街,在
				</div>


				

				</div>
				<!-- <h1>三、聆听古宅</h1>
				<p>古宅,有很好听的名字。它们,或依山,或临河,坐在岁月深处,披着身的沧桑,像历经传奇又归复平静的老人,悠悠地吸着旱烟,期待着人们靠近他的膝盖,然后慢慢地讲述他的身世和故事。</p>
				<p> 1.汪益茂
				    到河桥游览的人,通常是在云浪大桥码头乘坐竹筏,漂流到三溪古渡口上岸,然后从东门进老街。按最初的设想,导游要带客人从一处断壁残垣下经过,说是欣赏“残缺沧桑之美”。这处断壁残垣,河桥人称之为“汪益茂”,是最早迁来河桥的汪氏营造的住宅。
				</p>
				<p>其实“汪益茂”是一个店号,明末清初开在河桥中街,经营南北杂货,赚了第一桶金以后才开始筑造住宅汪氏很有眼光,他选择的宅基在后山与昌化溪之间。后山有茂密的森林,砍伐的木头几步路就能拉到码头。又在临溪处建了一个火窑,就地取材烧起了砖瓦。这里正是三溪交汇之地,风水学上讲“财源滚滚”,而且离溪仅百步之遥,用水当然更方便了。如此方便而得用的房屋,按现在的建筑学分析,可以说具备了系统工程的理念,在河桥是首例。</p>
				<p>但是,房子造得过于庞大上有七个天井,下有八个门堂水道,人称“七上八下”。加上考虑不周,管理不善,花费奢靡,以致后来入不敷出,真的到了“七上八下”的尴尬境地,不得不把街上两爿店面拍卖转让。为谋东山再起,那座砖瓦窑改为烧制泥盆、瓦罐、火缸等陶器,成品由货船从柳溪江运出去销售。清顺治时钱塘名士周龙骐有《三溪即事》诗云:“平畴踏遍到东皋,仄径如肠滑似膏。白箬短篷来野艇,青泥暖灶出新陶。”他所写的,就是三溪口和汪家之窑。晚清时,汪氏族长叫汪子平，人呼汪老板,潜心于开茶馆、开戏场、办学堂。学堂设在老宅内,穷苦人家孩子免收学费。茶馆开在戏场边,窗门打开就能见到戏台。他在黄泥岭还造了一个“义冢塔”,收埋无家可归的饿殍。</p>
				<p>新中国成立后,“汪益茂”分给了十几户农民,至20世纪70年代改革开放前,尚有15户人家住在里面,鸡犬相闻,猪鸭乱窜,显得拥挤杂乱。更不幸的是,某年除夕,有人在家烧香拜太公不慎失火,大火把偌大的古宅烧个精光,除了人,留下的仅是几堵残墙和一片焦土。汪家烧制砖瓦陶罐的古窑,也被岁月的尘土掩埋,渐渐堆积成“窑土墩”。20世纪70年代初,在“农业学大寨”、大搞园田化的过程中,“窑土墩”被扒平改地造田了。</p>
				<p>如今,“汪益茂”与“窑土墩”已荡然无存,只堆在老年人的记忆里,成了言谈中的陈年往事。</p>
				<img src="../static/img/OldStreet/img21.jpg">
				<p>2.墙里
				    河桥下街,有一个地方叫“墙里”,是一处大杂院,按“五家为邻,五邻为里”的说法,这里大约有二三十户人家。
				</p>
				<p>“墙里”入口处,原有门亭,门墙呈“八”字形敞开,两旁有对联,字迹斑驳脱落,隐约可见“神灵哉不感自畏,公老矣有德而尊”。多数人不知其意,估摸是此地出过神仙或住过高人贤达之类的吧。</p>
				<p>原先,“墙里”由洪姓一统天下。他们是明朝洪武(1398)前从徽州迁来的首批住家,由于“先进山门为大”,人多势众,油车、磨坊、商店、货船一应俱全,故有“洪氏半条街”之称。洪氏在“墙里”建有祠堂,祠堂里还办过“镖行”。厅堂正中挂关公像,上书“忠义千秋”。可见,那时洪姓门庭是多么显赫。</p>
				<p>后来,洪姓也衰落了,“墙里”的房子卖给了门氏。其他姓氏也陆续搬进来,“墙里”终成了大杂院。</p>
				<p>“墙里”住着一位草药郎中,青田人,名叫孙回典,平常总穿着黑衣,留着黑胡子,很有神秘感。据说他的医术一流,专治蛇狗咬伤、跌打损伤、刀枪内外伤,本地居民、慕名而来的外地人络绎不绝。抗战时,离“墙里”百米之遥的“许尼和”大宅里,驻有国民党192师一个团,常要孙回典去给士兵治伤。孙回典的医术后来传给了孙子孙媳,待到他们能独力操刀时,孙 世了。</p>
				<p>“墙里”离水埠不远,但“墙里”人都喜欢用井水,二十几户人家有七八口井。这些井互相渗通,天旱不涸,井水冬暖夏凉,“墙里”人习惯用井水烧饭、洗菜、浴身。有趣的是,时至今日,在老年人嘴中还流传着“墙里七口井,侄郎追阿婶”的故事。(注:“墙里”是河桥百姓的叫法,其实这个地方本名叫“庠裹”。“庠 xián g”是古代的学校,此地明清时有“儒学” “义塾”等)</p>
				<img src="../static/img/OldStreet/img22.jpg">
				<p>3.怡和
				“怡和”是模仿杭州“叶种德堂”格局而建的房子,距今已有200年的历史。“怡和”曾经是名门望族,出过文臣武将,大门口的旗杆石,抗战前还赫然在目。
				</p>
				<p>十三个天井,从前门一直通到后山。道道石门,条条巷道,交错穿连;花瓦粉墙,雕梁画栋,所有的屋檐水管,全用紫铜打造;所有的门]窗,都镂刻着花草虫鱼、渔樵耕读、福禄寿禧之类的图案。走进大门,深入其内,各房既相对独立,又相互通联,显示出封建时代宗法家治的轨迹。</p>
				<p>“怡和”主人姓程,与茄村程姓、光裕堂程姓、泥骆程姓都是同宗,始祖出自安徽,迁来河桥后渐渐发迹。古时,河桥以水运为主,也有陆上运输。陆上运输有骡帮,十多头骡子圈养在九狮坞。清道光年间,“怡和”托骡帮送货,顺便从杭州带回几张“博彩”之类的赌票,谓“白鸽票”。不想一举中奖,而且是大奖,得银元5000大洋。</p>
				<p>当官衙差人敲锣打鼓、摇旗呐喊把满满一箱银元送到河桥时,程家无异于金榜题名,无比惊喜,无上荣光,大办酒席招待来宾,邻居街坊也都应邀赴宴庆贺。据说,程家就靠这笔意外之财造起了大宅,历时三年之久。但也不尽然,程家靠经商发迹,财力本就不薄。清同治初年,“长毛”到了昌化一带。“长毛”是太平天国的败兵,所到之处,烧杀抢掠,无恶不作。“怡和”被“长毛”付之一炬,血染萧墙。20世纪五六十年代,一到阴雨还潮天,“怡和”有堵内墙,仍显出“太平天国”四字,据说是一个“长毛”身受重伤,临死前卧在地上用血书写的。经“长毛”一劫,“怡和”一蹶不振,家境一落千丈。</p>
				<p>民国初年,绩溪人在“怡和”街面开设商号,名“同怡昌”。经营茶糖烟酒南北杂货,生意十分兴隆。新中国成立后,“同怡昌”成为“光明合作商店”,下辖食品、日杂、餐饮、理发、豆制品等多种行业,20世纪六七十年代,仍是河桥最大的综合商店,后并入河桥供销社,至80年代改制散伙。</p>
				<p>如今,走进曙光157—163号怡和旧址,只见石门无言，石条无声，古井石栏无影,石磨石臼半埋在地下。</p>
				<img src="../static/img/OldStreet/img23.jpg">
				<p>4.逸庐
				“逸庐”是河桥老街上的一幢民居。系民国初年建造的、中西合璧型的小洋楼。因与街坊间那些前店后坊的排门店铺相异,故常引人注目,乡人呼它为“洋房”。“洋房”占地180平方米,坐北朝南;高三层,阔三间;矮围墙,小庭院,地铺黑白鹅卵石菊花图案,门前有水沟通过。
				</p>
				<p>洋房的主人是位医家,姓陈名玉林,字轶材,曾名再生,河桥人尊呼他“伯贤先生”。“逸庐”经历了百年风雨,伯贤先生在此住过几十年。抗日战争时期,浙西行署王捷少将夫妇曾居于此。王捷系黄埔军校四期学员,著有《王捷步兵操练法》《步枪射程及技要》等书。国民党江南抗日先遣队总指挥丘玉林也曾在逸庐短暂居住。1948年,昌化县县长裘正策动起义,曾住“逸庐”。新中国成立前夕,裘正以浙西游击队名义与国民党192师的谈判也在“逸庐”进行。</p>
				<p>如今,“逸庐”虽轮廓依旧旧,但已几经易主,门楣上方的“逸庐”二字也被铲去,留下一地清晖</p>
				<img src="../static/img/OldStreet/img24.jpg">
				<p> 5.神妙观
				    古街西边37号是一幢二层民居,集体化时,这里是河桥公社誉光大队第生产队的队部,1970年前后还办过粉干厂。然而在清朝,这里有个很悬很雅的名称,叫“神妙观”。神妙观”于民国初被烧毁,一度成为空旷道坦,恰好给悦路轿行用作停放轿子的库场,直至新中国成立后重新盖房。此房后院有一泉池,边框及池底皆石条铺砌,长1.5米,宽1米,水深也是1米,池水清澈,鱼翔浅底。据传,用此泉水沐身濯足可祛除皮肤病,村人称此为“神妙泉”
				</p>
				<p>“神妙泉”至少有上百年历史,清朝时就有人用来擦脸洗手,谓之“净水”。此泉地处街市,冬暖夏凉,无论天晴下雨,既不干涸,也不满溢。更为奇怪的是,周围地势皆低于此处,亦无地沟暗流,泉水从何而来?此为老街一谜。</p>
				<p>神妙泉曾度被湮没,鲜为人知,除住户外只有古代进“神妙观”烧香的人用此水洗过手擦过脸。门先生家搬进后,花力气挖掘清淤,得以重见天日。此泉若得到合理开发,也许会成为河桥的一个旅游景点。</p>
				<img src="../static/img/OldStreet/img25.jpg">
				<p>6.十灶堂<br>
				    “十灶堂”是街坊邻居取的名。
				</p>
				<p>20世纪五六十年代至改革开放前,这里住着10多户人家,40多人,18个姓,来自4个生产队,籍贯含6个县。清晨,大家拿着锄头、铁耙鱼贯而出,雨天人人蓑衣笠帽,如同铠甲士兵出征。傍晚,10多个烟囱同时开灶,烟熏火燎,远望去像火烧房子一样。有人撰打油诗一首:“十户人家四个队,十个灶头八个盖,十只粪桶堂前摆,十张桌子三样菜。”打油诗诙谐地表现了当年大家同住一屋檐下,拥挤而热闹、贫苦而快乐的生活。</p>
				<p>以前,“十灶堂”由富商胡森盛开办茶叶行。森盛茶行曾是昌化地区唯集收茶、制茶、拣茶、评级、封包、运输为一体的专业商号。每到收茶旺季光是拣茶女工就得四五十人,街坊邻居全是帮工,茶香飘满街巷。当完成装袋封包这最后一道工序后,即差人肩挑背驮送至水埠码头,然后雇船运往苏沪杭等地。抗日战争时期,“十灶堂”成为浙西军民合作站。部队要派民工,选挑夫,送军货,或让民众捐赠衣被鞋子食品等,均在这里办理。</p>
				<p>“十灶堂”是清代留存的三进古宅,如今里面只有一户人家。一到夜晚,黑咕隆咚,寂静无声,森森然,陌生人不敢迈进一步。老宅毕竟年久,部分已经倒塌,部分即将倒塌。古墙门楣上“长发其祥”的题辞,诉说着老屋的兴衰与苍凉。现在,河桥镇政府已修复了快倒塌的前厅。</p>
				<p>7.程家大宅<br>
				    茄村是离河桥镇三里左右的一个自然村,这里原先有好几口池塘,六月盛夏,池塘里的荷花怒放,喷香吐艳,耀眼夺目,很是让人喜欢。茄村又叫“荷村”,“茄”与“荷”是有关联的,“茄”是荷叶梗,“荷”是叶上花,“茄村”“荷村”本为一塘之居。
				</p>
				<p>
					程家大宅就坐落在茄村,南临昌南溪,过了溪便是官山。程家大宅也许是浙西山区最豪华的宅第了,有24个天井、720根庭柱,占地10余亩。大厅连着小厅,小厅接着客堂,偏房套着厢房,亭台、楼阁、花廊、厨房、柴屋等一应俱全,且纵横交错,连成一体,走遍大院任何角落,下雨天无须打伞。
				</p>
				<p>
					此大宅建于哪些个朝代,无从考证,但民间流传着这样一个故事。明嘉靖年间,昌南发大水排山倒海的洪水席卷了昌南溪边的大批村庄。汹涌的水面上,有妇人坐在小木船上呼叫救命手中紧紧抱着一只油漆光亮的木箱。家住九龙山(官山)的程氏兄弟,此时正站在河岸看大水,且不失时机地打捞漂来的财物。见妇人呼救的木船颠簸于洪峰上,正向他们这边漂过来,急忙伸出长长的钩竿钩住木船,用力拉到岸边。当妇人递上木箱,正要上岸时,小船却被一个浪头打得猛烈地摇晃,妇人一脚踩空掉进洪水中。还没等程氏兄弟反应过来,妇人很快就被咆哮的洪水卷走了。程氏兄弟捧着木箱,眼睁睁望着那妇女被洪水昋没了。程氏兄弟把木箱抱回家,打开一看,不禁傻了眼,满箱金银珠宝首饰,足有十多斤重,他俩悲喜交加,半晌才缓过神来……五年之后,九龙山下,昌南溪之滨座富丽堂皇的豪院拔地而起,四乡八邻无不惊愕。
				</p>
				<p>
					故事有些传奇,听来让人惊讶。其实,不必探究故事真假,程家祖上本来就是读书做官人家,底子深厚,且看他的房宇格局,便知非同小可。程家大门朝西,进程家大宅,首先要在西端登上几级石阶,穿过一座牌坊。牌坊后是广场,望过去,门楼高耸,峻宇雕墙。大门前立有三柱旗杆。跨进大宅门,有一道穹形仪门,上书“黎门”二字。进黎门后是大厅,冠名“花厅”。花厅异常气派,故又名“宽厅”。厅堂中挂有“进士”朱匾。再往里,进天井,又是一道门,门楣上书“亦进堂”,堂上匾额“贡元”。继续入内,仍见大厅,上悬“翰林”字匾。所见厅堂回廊皆雕梁画栋,气宇轩昂。南边临溪有“听水台”“揽云楼”,靠北一角是“荷香阁”。有一后门,称“茄关”,谐音“加官”。这些楼阁装饰精美,各式图案栩栩如生,充满书香气息。可见,程家出过“贡士”“进士”“翰林”,非一般平民可比。查阅《昌化县志》,果然如此。程起宗,南宋隆兴元年(1163)进士;程湛,明万历五年(1578)贡士,授昌平知县;程镇仪,清康熙三十七年(1698)武进士;程琛,清乾隆岁贡;程越,清道光岁贡……大宅门前广场上高耸的旗杆,就是程门显赫的象征。
				</p>
				<p>
					1939年,抗战烽烟四起。5月1日,一位校长带着一批老师开进程家大宅。几天后,大门上方挂出了“浙江省立浙西第三临时中学”的牌子,教室、寝室、礼堂膳厅、厨房、仓库、浴室、图书馆、办公室、实验室等样样俱备,一所标准化的高级中学突然间在 河桥诞生。从此,来自杭嘉湖平原的500多名师生,在这里发出了朗朗书声。长达七年的战时办学,为抗战时期的国民教育作出了贡献。
				</p>
				<p>
					新中国成立后,这里住进了几十户人家,烟火绕梁,鸡犬相闻,人声鼎沸,宛如一座城堡。因有传言“若要财宝中堂找”,引来掘地寻宝做发财梦的人无数,但始终没有结果。20世纪60年代,程家大院已是断壁残楼,仍住着两个生产队的农户。现在,程家大宅已无影子,只留下一片残址,如今都盖起了农民的小楼。那些曾经的门堂天井、石条石柱、砖雕石刻,都被埋进了历史。
				</p>
				<img src="../static/img/OldStreet/img26.jpg">
				<h1>四、祠堂兴衰：</h1>
				<p>祠堂是封建社会的家庙建筑,是一个家族祭祀祖宗先贤、议事执法、歌功颂德的场所。祠堂所处的地理位置,建筑的气势、规模与风格,显示着本族的威荣。</p>
				<p>
					从前,河桥每个村都有祠堂,格局大体相同,门阔三间或五间,深三进或四进。平时祠堂大门总是紧闭,给人一种神秘感。从门缝向里张望,深邃莫测,森严可怖。
				</p>
				<p>
					在老年人的记忆里,胡、汪、洪、潘、程、郑等姓是河桥本土正宗,他们的祠堂也最有影响力
				</p>
				<p>
					1.下阮胡氏宗祠<br>
					建自明嘉靖年间,五开四进,八字大门,前有广场,三副旗石高竖旗幡表明胡氏出过功名。
					   《昌化县志》记载,胡书魁,字永烈,下阮庄人,道光朝武举人,授守备衔,宁波府镇海千总胡占魁,下阮庄人,由军功授四品衔,并赐蓝翎,诰授武功翼都尉;胡书年,下阮庄人,光绪五年(1879)左宫保,钦赐五品军功,光绪二十八年(1902)诰封武义都尉;胡文翰,字德安,顺治丙戊科武举人,授江西吉安府千总;胡之培,康熙二十五年(1686)乙丑科武进士。另外,胡秉范、胡秉储、胡秉泰、胡秉节、胡秉第、胡秉贞、胡秉和、胡秉诚同辈堂兄堂弟全部做官,有太守、通判、知县,也有县丞、主薄,令人震惊。
				</p>
				<p>
				20世纪60年代,农业学大寨,在改地造田中,下阮村田畈发掘出不少文物,其中有练功大刀,重达120斤,有人说,这就是武进士用的家伙。抗日战争时期,下阮胡氏祠堂屯过军,居住着三个连的士兵;也曾做过浙西军粮征集站,各地把军粮送到这里,统一存放派发。新中国成立后,昌化农业技校在此创办,后改为昌南农业中学,可容纳几百师生。1969年夏,特大洪水席卷下阮村,祠堂受损,后干脆拆除,砖瓦柱石等有用材料运建河桥中学校舍。从此,下阮村胡氏宗祠消失。
				</p>
				<img src="../static/img/OldStreet/img27.jpg">
				<p>
					2.上街胡氏宗祠	<br>
					河桥上街胡氏宗祠建筑格局仿自绩溪,占地上千平方米,深邃威严。高门槛,大天井,大门两旁有青色石鼓,坐北朝南,门前有牌坊、水池(后来变成田),面对竺云山何上坪。民国时,昌南区署、警察所设在此。新中国成立初是群众集会场所,60年代成为国有粮库,70年代后期被拆除。2011年清明,胡氏宗亲商议,拟集资重建祠堂,接着马上收到画家胡天池先生的首笔善款,而后,买下胡氏宗祠原址上的民房,并于2012年改造门面,恢复了胡氏宗祠旧貌。
				</p>
				<img src="../static/img/OldStreet/img28.jpg">
				<img src="../static/img/OldStreet/img29.jpg">
				<p>3.汪氏宗祠<br>
				    河桥汪氏宗祠有三处:一在上街,一在下街,一在白下。它们相距不过几百米,分属三个脉系。上街汪氏祠堂,在盐置坦西边,坐北朝南,一门二进,有石级踏步,墙头刷成黄色。抗战时期,这里成为民众教育馆,由浙西三中教师和高年级学生主持讲课、读报、教唱抗日歌曲、排练文艺节目、开展文体活动。至今留在墙上的抗日标语,就是当年民众教育馆的墨迹。
				</p>
				<p> 在汪家祠堂,抗战时举办过“昌化县妇女干部训练班”。那是1939年10月,浙西行署驻西天目期间,由行署组织的“浙江省战时政治工作队”分赴各地宣传抗日救亡,其中二大队、三大队建有共产党支部。是年底,“妇女营”营长戴谷英带领工作队到河桥,在该祠堂创办了“昌化妇女干部训练班”首批学员50名,进行政治、军事、救护等知识培训,“每日清晨出操、跑步,三四’的喊声和整齐的步伐声震荡在宁静的河桥小镇上空”(《杭州文史资料》第10辑)。妇女培训练班经过50天的培训,即分派到昌化各区进行抗日宣传和从事妇女解放运动。白下汪家祠堂坐落在昌南溪旁边,五开五进,建筑规模宏大,大门楹联“唐封越国三千户,宋赐义门第一家”赫然在目。白下汪氏迁自教师和高年级学生主持讲课、读报、教唱抗日歌曲、排练文艺节目、开展文体活动。至今留在墙上的抗日标语,就是当年民众教育馆的墨迹。在汪家祠堂,抗战时举办过“昌化县妇女干部训练班”。那是1939年10月,浙西行署驻西天目期间,由行署组织的“浙江省战时政治工作队”分赴各地宣传抗日救亡,其中二大队、三大队建有共产党支部。是年底,“妇女营”营长戴谷英带领工作队到河桥,在该祠堂创办了“昌化妇女干部训练班”首批学员50名,进行政治、军事、救护等知识培训,“每日清晨出操、跑步,三四’的喊声和整齐的步伐声震荡在宁静的河桥小镇上空”(《杭州文史资料》第10辑)。妇女培训练班经过50天的培训,即分派到昌化各区进行抗日宣传和从事妇女解放运动。</p>
				<p>白下汪家祠堂坐落在昌南溪旁边,五开五进,建筑规模宏大,大门楹联“唐封越国三千户,宋赐义门第一家”赫然在目。白下汪氏迁自安徽绩溪,吴王汪华是他们的先祖,可见源远流长。祠堂置田数十亩,山林百余庙,另有水碓作坊。抗战时这里有军队卫生院,也办过战时工厂。新中国成立前做道场也放在祠堂。新中国成立后,常在汪祠搭台演戏开会,“文革”中也在祠堂里召开过几次“批斗大会”。流长。祠堂置田数十亩,山林百余庙,另有水碓作坊。抗战时这里有军队卫生院,也办过战时工厂。新中国成立前做道场也放在祠堂。新中国成立后,常在汪祠搭台演戏开会,“文革”中也在祠堂里召开过几次“批斗大会”。</p>
				<p>4.潘家祠堂<br>
				    在上街(惠山),一在中街。上街祠堂实为潘府君庙,建于明正德年间(15061521),供奉的是北宋礼部尚书潘公演及其夫人游氏像。明正德时,潘氏积富公首迁昌化河桥。那时的河桥人烟尚少,沿河一带多为水竹窠。积富公本为茶商,见河桥风俗古朴,山水良佳,有乐哉斯土之慕,由商居变为寄居后,遂生社庙之建。
				</p>
				<p>潘府君庙建在惠山,坐北朝南,落地高处,门前望远一览无余,有楹联题柱:“门献桃山寿,庭分花县春”。清末民初,因建“双溪小学”,潘府君庙被拆除。因地址属潘氏族人,学校建成后,校方规定,凡河桥潘氏子弟读书一律免费。与他姓宗祠比,潘祠不算很大,但有祠田祠地分布各处。据唐昌潘氏宗谱载,潘氏亦出过人才。其中潘元鼎,字铸生,邑庠生,清顺治乙丑(1649)拔贡,初授陕西洛川黄龙同知,后调山西阳城任知县。娶河桥本镇汪氏为妻,继娶杭城胡氏,生四子,其中潘谢为太学士。另有潘湘生于顺治壬辰(1652),字汉友,为岁贡,授儒学征士郎。潘墀,字玉阶,生于清顺治庚子(1660)八月,康熙甲子(1684)年举人。潘国斌,字全吉,康熙年间曾沐受三次皇恩。潘家还出过名医,名瑞贤,康熙二年(1663)生,12岁时中断学业,业樵为母分忧。20岁时开始读前人医籍,每至深夜。因内经脉诀,意义宏深,非名家不能析其奥,遂拜本县儒医程大千为师。三年后,医艺精进,出师之日,正逢危重病人,出手一方见效,病人起死回生。瑞贤尤擅长小儿科,几乎十全。其名声远播,邻省歙绩、宁国安庆等郡,抬着轿子来请,络绎不绝。家中挂满匾额,“葆赤悬壶”系安庆方郡尊所赠,“妙手生春”为芜湖张明府所赠;“保赤元功”是潜山胡明府所送。瑞贤公享年81岁,无疾而终。</p>
				<img src="../static/img/OldStreet/img30.jpg">
				<p>5.洪家祠堂<br>
				    在河桥下街“墙里”,三间二进,曲径通幽。<br>
				    洪族人是最早迁至昌化的姓氏之一,出过不少官。如曾任苍梧知县、富州知县,最后官至横州知府的洪昌言;湘潭知县、清泉知县洪锡绶;句容县华亭驿丞洪儒;德化知县洪节,等等。<br>
				    洪门也出过孝义之士,其中有一个叫洪桂相的。父亲洪成伋始迁河桥。桂相出生刚满三月,父亲去世,留下兄弟四人,成年分家后,诸兄弟家境困难,洪桂相除了侍奉老母,还要全力帮助几个兄弟,毫无吝容。不仅如此,他还出资修桥铺路,扶危济困,筑义塚掩埋尸体,买棺材安葬贫困亡者。由于义举甚多,乾隆年间被公举为“乡饮介宾”。
				</p>
				<p>6.郑氏宗祠<br>
				    郑氏在河桥亦为大族,主要分布在五都源,有“郑半源”之称。秀下、坑口、唐里、朱白、峡川、蒲村均有郑氏宗祠。<br>
				    唐里郑氏宗祠建于明末清初,据说,郑氏先公在南粤经商发财,白马驮着整袋的金银珠宝回乡。祠堂建成,披红挂绿,曾宴请乡里族人亲朋三天。此后,郑公每日清晨扬鞭策马,从唐里出发,沿峡川道(五都源)至大明山,而后从颊口、堪村、白牛、昌化、河桥返回家中。环程百里,快马疾奔二个时辰。其赤帽皂靴青衣美扬眉潇酒之形象,瞩目乡里轰动全县。《昌化县志》称唐昌多好义之士,以郑氏为最。明朝时,峡川郑德宏,八岁时割股疗父,成为孝子贤孙。另有郑德盛,官至福州知府。郑氏人才辈出,历代皆有贤达高人。如今健在并被誉为“学川巨擘”的郑洁泉先生,就出自此宗祠。
				</p>
				<p>唐里郑氏宗祠在新中国成立后变成郑氏民居,由于年久失修,门窗破败日渐式微。2012年,临安市政府拨款给河桥镇政府负责修缮,恢复旧貌,重拾祠堂风采。</p>
				<p>“祠堂何处寻,城外柏森森。”众多祠堂都被岁月湮没了,尤其是河桥老街的祠堂,如今已荡然无存,只在老年人的记忆里尚有形象。现在,人们把祠堂、古建筑当作炫耀历史的资本,多少让河桥人有些失落。</p>
				<img src="../static/img/OldStreet/img31.jpg">
				<h1>五、老行当</h1>
				<p>
					商业繁荣,必然造就众多匠人;市井发达,定会衍生精湛技艺。<br>
					匠人,是技艺高超的手工业劳动者,从事的是与民生息息相关的行当百六十行,行行出状元。”这些靠技术、智慧、汗水吃饭的行业状元,就是老百姓心目中的“匠”。他们在创造财富、服务社会的同时,也编织着市井文化,成就行业和人生的品牌。		
				</p>
				<p>河桥这个地方匠人自古不少:木匠、竹(篾)匠、桶匠、石匠、泥水匠砖瓦匠、油匠、漆匠、棉花匠、棕毛匠、炭窑匠、杀猪匠、阉猪匠、剃头匠、秤匠、画匠、花匠、针(裁缝)匠、鞋匠、皮匠、纸作匠、染匠、黄烟匠糕饼匠、铁匠、铜匠、烙锡(小炉)匠、金银匠、补锅匠、补碗匠、蜡烛匠、灯笼匠、扇子匠、笤帚匠、磨刀匠、钟表匠、烧酒匠………这么多的工匠集于镇,在别的地方,即便也是古乡古镇,恐怕也难以达到如此壮观的情景,这是否也算是河桥深厚的历史底蕴呢?
				</p>
				<p>
					如今,这些老行当,有的已经消逝,有的还在继续。我们无法预料,再过十几年或几十年,这些老行于当和匠人的命运会怎样。今天,从河桥匠人堆里择出若干个,略作叙述,算是刻下一段历史痕迹,留下几张老照片,留给后人去翻阅。
				</p>
				<p>
					1.铁匠<br>
					天下有三苦:打铁撑船、磨豆腐。这是从前流传的劳苦生活的咏叹调。这三样活,不是水就是火,用的是全身力气,春夏秋冬,终年劳作,累得腰酸背痛,岂能不苦?
				</p>
				<p>
					打铁是一门古老的手艺。据记载,人类在6500年前就使用铜器,4000多年前使用铁器,公元前1000多年的许多墓葬中就有铁剑、铁环铁扣出土,铁匠用的砧、锤、钳、风箱等也陆续被发现。明代编的《天工开物》还详细记载和绘出了打铁作坊的形象。
				</p>
				<p>
					河桥铁匠铺,不知始于何时,想必也是自古有之,只是到了清朝年间,才出现挂有招牌字号的专业店铺。这固然是对产品质量的自信与负责,同时也是最朴实的广告。那时,河桥上街、下街,白下、朱秀、下阮、秀下等村,均有大小不等的打铁店,上街城门头曾有四五家铁匠铺扎堆。所有的铁匠店中,较有名气的是“卢永兴”铁铺,铜铺是后来的耳毛铜匠最出色。
				</p>
				<p>
					“卢永兴”创始人卢文周,永康人,13岁跟随其娘舅闯荡江湖,一副炉担两个锤,四方游走,以打铁为生。他们从永康一路走来,流落到於潜、昌化一带,发现这里山清水秀、地沃人淳,比永康生存条件优越,遂有意扎根常驻。他们起先在下阮村落脚,搭间茅棚住下,而后早出晚归,四出揽活。由于打铁技术精良,价格便宜,很快得到当地人认可,生意亦像风炉中的炭火慢慢发红。
				</p>
				<p>
					几年后,卢文周长大成人,在河桥下街汪家祠堂旁购下一间屋子,砌起炉灶,自立门户,以“卢永兴”为号,开出了首家有招牌的铁铺。铁匠有小炉大炉之分。小炉专打剪刀、菜刀、门环、吊钩、刨子、铁钉、锅铲等,大炉则锻打锄头、铁耙、火锹、柴刀、斧头、屠刀、兵器等。“卢永兴”开的是大炉,却也有小炉之功能,只要用户有求,什么都打,因而深受百姓欢迎。
				</p>
				<p>
					大江南北,铁匠铺格局基本相同:屋中间筑起齐腰高的炉灶,旁边连着架风箱。灶前的树墩上压着沉重的铁砧,铁砧边,立着木桶,木桶中盛满用来淬火的黄泥水。几把火钳搁在炉口,用来夹烧红的铁块,墙边还有一条长板矮凳,坐在上面磨剪子戗刀刃。
				</p>
				<p>
					打铁铺通常二三人,徒弟拉风箱,师傅翻动炉中的铁块,当师傅从炉中钳出通红的铁块时,徒弟立即抡起大锤。师傅的羊角小锤指向哪里,徒弟的大锤就砸向哪里,或前或后,或左或右,叮叮当当的打击声像音乐似地飘出老远。
				</p>
				<p>
					“卢永兴”名气渐响后,四方八邻的村民,都会上门,或当场要货,或预约登记,多数是拿了旧件重新加料锻打。“卢永兴”出店的铁件一律要打上卢永兴”烙印。“卢永兴”打出的剪刀,出货时用棉花丝试剪,其中桑剪不仅能剪桑树枝条,还能剪铁丝;裁缝剪一次能剪五层棉布。“卢永兴”的菜刀轻薄锋利,能削纸张;打出的斧头,劈在顽石上亦不卷刃…抗战时,卢永兴还为驻河桥的国民党广西军192师师长打过一把马刀,锋利无比,削铁如泥,能吹毛断发。“卢永兴”掌柜卢文周还有一样绝技—一锻打刀斧时,在刃口要加钢料,卢文周朝掌心吐口唾沫,右手大拇指直接伸到钢料上,一抹,刀刃上的碎末杂质就没了。要知道,钢料上的温度至少有1000℃啊。卢文周的手掌,经几十年的修炼,已如风干的牛皮,火烫不伤,针刺不进,坚硬的手掌能将砖块锉成粉末。卢文周的几个儿子,曾跟随他学打铁,出师后,卢文周也老了,但他不放心,总是端把椅子坐在炉旁看着儿子们操作,不时起身指点一番,直到满意为止。
				</p>
				<p>
					新中国成立后,公私合营,以“卢永兴”为主,联合众多的铜铁锡匠,组建了昌南机械厂,车间最初设在下街黄月仁老先生家,由卢文周的大儿子卢寿明任厂长,后来在河桥上街造起厂房(今河桥村活动室左右),生产水泥拌和机。该厂最终发展为临安金属板厂。
				</p>
				<p>
					一个时代过去了,如今,机械化替代了手工活,打铁几乎绝迹,铁匠的名称也渐渐消失。然而,河桥老街至今仍保留着古老的打铁铺,那是上街城门头张氏后裔经营的铁店,没有字号,没有招牌。走近铁店,往里瞧,满是黑咕隆咚,楼板墙壁被烟火熏得墨黑,看不清屋里人的面貌。夏天的傍晚,老铁匠(也不过是50多岁吧)赤着膊,系着围裙,独自站在炉前,当风箱抽动时,炉中的火光在他黑黝黝的臂膀和脸上一闪一闪跳动,看上去仿佛古镇的一幅油画。
				</p>
				<img src="../static/img/OldStreet/img32.jpg">
				<p>
					2.弹棉匠<br>
					河桥镇的上街,曾经住过一个弹棉人,大家不知道他叫什么名字,也不知道他是何方人氏,只管叫他“棉花匠”。他的模样十分的异类:上身穿着黑色无袖对襟衫,两只粗臀上布满密黑的毛。下身围着麻布,头上有时戴着一顶瓜皮帽,满脸胡子,其长及胸,又罩副眼镜,眼镜的两只腿系着黑线,绑在脑后。他行动迟缓缄口寡言,样子神秘可怕,活脱像阿富汗宗教长老或中东恐怖分子头目。他住在城门头附近两间草房里外间是工场,里间是卧室厨房。草房从不打扫,梁柱椽子粘满棉花飞絮,看上去白蒙蒙一片。
				</p>
				<p>
					20世纪50年代,人们经过草房门口,听见叮叮当当的弹棉声,总要进去看一番。只见“棉花匠”赤着膊,背着弓,挥着槌。棉花在他富有节奏的敲击下弹跳起舞,而他的头发上、眉毛上、胳膊上都落满“雪花”,难道这就是“聚来千亩雪,汇集万家春”？
				</p>
				<p>
					加工一条棉被,要经过好几道工序。先是“开棉”,即用轧机(多为脚踏机械)将棉花或旧棉胎搅松,接着把搅松的棉花铺在木板上,然后用棉花弓弹击,将棉花弹松弹平。再在膨松厚薄均匀的棉絮上布纱网棉,称之为“牵纱”。牵纱要师徒俩配合操作。用一根三尺长的竹竿,纱线从竿尖的小孔中穿过,师傅左手握住线竿的一端,将有线孔的一端挥向徒弟,徒弟便拉住纱线,两人同时用右手把线压在棉胎上面。有的客户要求漂亮,牵纱时要用红红绿绿彩线编出花案,称为“抡纱”。最后一关是磨压,用一只锅盖似的光滑木盆在棉胎上反复移转磨压,使棉胎平整服帖。
				</p>
				<p>
					冬天,棉被、棉袄、棉裤样样不可少,女子出嫁也要请人弹几床新棉被。河桥上街这间棉作坊,始终生意不断,弹声不绝。草房门前虽没有招牌字号但老棉花匠精良的技艺和日夜飘传的弹棉声,在寒冬里温暖着人们的心灵。
				</p>
				<p>
					有一天,草房内的弹棉声突然消失了,棉花匠亦不见踪影。后来才知道,棉花匠名叫金志庆,据说参加了反动组织,被定为反革命分子,被逮捕了。留下的那个草房作坊,后来也被火烧了,剩下的遗址(现河桥上街98号)随即造了新房,人们仍然叫它为“棉花匠茅棚”。
				</p>
				<img src="../static/img/OldStreet/img33.jpg">
				<p>
					3.棕毛匠<br>
修棕棚与弹棉花异曲同工,有的地方就是同一行当,故称“棕棉匠”。<br>
棕棚即棕板床,域里人只看见修棕棚,管修棕棚的叫棕棚师,而河桥乃至整个昌化地区则称棕毛匠。因为他们这一行,不光是修棕棚， 还要打棕绳、制蓑衣、编斗笠、做坐垫、织圆匾、扎苕帚,叫棕毛匠更合乎实情。
				</p>
				<p>
					弹棉匠出自永嘉,棕毛匠来自天台。河桥街上名气颇大的“棕毛匠王孔法祖籍就是天台。他原是昌化手工业社的职工,手工业社散伙后,便独自拾起祖传手艺,干起了棕毛这一行。
				</p>
				<p>
					孔法师傅全家人都会伺弄棕毛。老婆和几个女儿,就像打毛线一样,走到哪就把活带到哪。腋下夹着从棕榈树上割下的棕片,从棕片上拔下棕毛边走边捻绳,只要手不停,棕绳就在不停的捻动下延伸,就像她们脚下的路,她们把捻成的绳绕在摇柄上,几百米、上千米,直绕成沉甸甸的一捆。别看她们笑嘻嘻地边捻绳边与人聊天很轻松,其实捻棕绳会让手指酸胀,指头起泡甚至出血,天长日久,捻出了老茧,也捻出了技术。捻好的棕绳是所有棕物的材料,故棕绳多多益善。
				</p>
				<p>
					在没有出现雨披之前,蓑衣就是农民的“雨衣”。出门千活时带着它,能挡风雨,往地上一铺,就可作床。由于棕毛不易腐烂,一件蓑衣历经几代仍完好无损。蓑衣在农家的地位,仅次于耕牛、犁耙。20世纪50年代以来耕牛和犁耙都变成集体的了,唯有这蓑衣,还始终跟着主人,不离不弃。
				</p>
				<p>
					孔法师傅制作的蓑衣,穿着挺括、舒适。他能按照农民的要求制出不同式样,连背式、马挂裙式、蝙蝠式都有。制作蓑衣一般在夏天,租一间老宅厅堂作工场,既摆得开场面,又能享受老屋的阴凉。至于工钱,他从来不向主人讨要,给多给少无所谓。只要每顿晚餐有老酒,他就非常满足。喝酒是孔法师傅最快乐的消受,在酒兴中,他会倒出祖宗三代的故事。
				</p>
				<p>
					制作棕棚是孔法最得心应手的活计了。棕棚架是木匠做的,穿棕引绳就是他的份了。棕棚多为斜纹,这样用力均匀,受力更大。標绳一旦穿进硬木框四周的孔眼后,即把绳切断,然后打进圆木塞,以固定棕绳,防止滑动。不同棕棚床的区别在于木料和棕绳的选择,以及棕棚面上图案花纹的编排。质量的好歹,主要视其是否平整紧密,几年用过后仍不塌软。搞定这一切孔法师傅都不在话下。孔法把两个女儿带出师,希冀们传承家业。
				</p>
				<p>
					孔法在世的时候,女儿还顺着他,帮他张罗操作,孔法过世后,两个女儿也步入中年,不再青睐这一行。
				</p>
				<img src="../static/img/OldStreet/img34.jpg">
				<p>
					4.秤匠<br>
古代只有木杆秤,在“一把斧子换一头羊”的原始时代,是用不着它的,只有发展到“一百斤谷子换一匹布”或“一张药方换三升米”的阶段,秤才成为必备之物,想必一定是秦始皇以后的事了

				</p>
				<p>
					秤匠也叫钉秤匠,或叫制秤师,是专门制作木杆秤的师傅,自古就是稀有匠人,不是任何地方都能见到,但河桥镇却不缺。
				</p>
				<p>
					上街75号,是河桥最初的秤店。临街铺子里,长长短短、粗粗细细的秤杆插在孔架或挂在板墙上,琳琅如兵器。店主应岩兴,清末从永康迁来,制作杆秤是他祖传的职业。几十年的钉秤生涯,使得他对秤F杆、秤砣、秤钩、秤星、秤纽、秤盘、秤花无不烂熟于心,故他手下出的杆秤莫不让人赞颂。
				</p>
				<p>
					制秤是一个极其讲究的行当,每道工序都要求精工细作,一个小小的失误,便会影响到秤的准确性。首先,秤杆的材料要选择质地坚硬又不弯曲的杂木,粗细适度,须有相当的韧度,要在阴凉处晾半年左右方能制作。秤杆创平磨光后,在秤杆上定好尺寸,包括要钉三枚横针,接着在秤杆的头尾包上铜皮,然后是钉秤花,刷上薄桐油,配上秤钩、秤砣、秤纽、秤盘。
				</p>
				<p>
					制秤的基本原则是轻重得宜、偏颇不倚,用秤则要求量足杆平、双纽在心。点公心平似水,十分生意稳如山”是秤店的对联,至于半斤八两、四两压千斤、铢两悉称、锱铢必较,皆为秤下生出的成语。
				</p>
				<p>
					如今,除了木杆秤,地秤、台秤、弹簧秤、电子秤等各种各样的秤越来越多,而老秤匠越来越少,这是否向人们昭示,无须传统的木杆秤了呢?
				</p>
				<p>
					诚然,老秤匠一个个离世,在没有市场的情形下,无人愿意再学制秤技术,制秤工艺面临失传,我们也很难找到制秤作坊一睹有趣的制秤工艺。应岩兴老秤匠于新中国成立前去世,他的工具后来转卖给同是永康来的胡成福,胡成福接管秤店后,在五六十年代,把秤店开在河桥老公社隔壁,也兴旺过一段时间。
				</p>
				<p>
					如今,胡成福也老了,前些年随子女移居杭州城,现已去世了。他没有带过徒弟,子女中也无人接替他的家业,留在河桥老家的,除了一堆制秤工具和来不及完工的秤具材料,就别无他物了。
				</p>
				<p>
					5.木匠<br>
在所有的工匠中,木匠是河桥镇最大的匠人群体,至今仍干这一行的,能报出十几个。在世人眼中,木匠似乎还比其他匠人“高贵”,最有力的佐证是明朝熹宗皇帝也是木匠。

				</p>
				<P>
					据说这位皇帝心灵手巧,对制造木器有浓厚兴趣,凡刀锯斧凿、丹青揉漆之类的木匠活,他都要亲自尝试操作。由于熹宗沉湎于锛刨斧锯、引绳肖墨,大臣上奏秦公文亦无暇过问,以致大明皇朝在他手上摇摇欲坠。有后人评说,这位天子,倘若不做皇帝,潜心木工,必定成为木业大师而名噪天下,比之做皇帝,贡献会大得多。皇帝木匠,历朝历代数下来,毕竟也就明熹宗一个,而平民木匠,全中国集中起来,就如银河星斗,难以尽数。但有名的木匠、有特技的木匠到底也是少数。河桥倒有几位在此略作表述。
				</P>
				<P>
					凤隆木匠,人称“凤隆师”,家住上卜,以“大木”闻名。原来,木匠有“大木”“小木”之分。“大木”专攻祠堂庙宇宫殿及民房之营造,“小木”则主要打造家具。“大木”讲究格局、气势、坚固,“小木”追求美观、精致、细腻。凤隆专营大木之造,凡高楼深院、天井回廊之房,莫不是他的专长,他的徒子徒孙遍及各地。在工地上,他必定是“总指挥”,凡新人学徒,他教授的长木短铁”“方五斜七”““坐凿站劈”“快吃少如口诀都会一代代相传,比歇”等等。凤隆年逾古稀之后,不再擎锯操斧,但仍颈垂曲尺,手持墨斗走来走去督察指导。凤隆80多岁时,仍精神矍铄,满面红光,90岁时无疾而终。
				</P>
				<P>
					叶土生,河桥曙光村人,出身木匠世家,大家习惯叫土生木匠。他的绝技是更换旧房屋柱。按理,木匠不仅要造新房,修旧房也是他们的分内生活。但修旧房一是危险,有些老房子年代久远,看上去轮廓尚全,梁柱却已霉烂,动即会坍塌。二是脏,老房子烟熏火燎,尘埃厚积,维修时还要拆墙翻瓦,弄得木匠蓬头垢面,满身泥灰。故多数木匠不愿意维修旧房。还有,怕难,有的房子雕龙画凤,榫卯叠加,更换其中一根柱子或一条横梁,不知如何下手。只有叶土生大师敢接此等难题。
				</P>
				<P>
					他根据要换的旧柱粗细长短,选好新柱尺寸,凿好相应的卯眼(太小贝插不进,太大则不稳定)。接着用杠杆原理,将旧柱两端的横梁支撑撬起来,把房子往上抬,让柱子悬空,待撬至恰当的高度,猛烈旋转柱子,使其脱出榫卯,然后,树起新柱,把旧榫插入新卯,最后撤去杠杆…,…操作此项工程须胆大心细,否则,榫头撬断,房子倒塌,甚至会造成人员伤亡。这一换柱绝招,业内同仁无一涉足,唯叶土生叶大师独有。
				</P>
				<P>
					叶土生虽为“大木”,但他所造犁耙、稻桶、谷仓,亦精致灵巧坚实耐用,他打制的八仙桌,不用一枚铁钉。叶土生的两个儿子,在他的传教下,后来也成了有名的木匠,就连孙子也没有丢弃这一行。在河桥,除凤隆、土生大师外,尚有几位特色木匠,术业皆有专攻。如江茂业以造龙骨水车出名,汪启才以造水碓工程为业,章柏祥手下的独轮车坚固灵活,董亦焕、于荀有制作的风车激浊扬清,转动轻盈自如……·这些木制物,都是运动机械,它的高明,体现在“动”中。而制作这些“动物”的木匠,皆被河桥百姓认定为高师名匠。
				</P>
				<img src="../static/img/OldStreet/img35.jpg">
				<P>
					6.桶匠<br>
三百六十行,有一行是箍桶。<br>
箍桶匠和木匠是有区别的,箍桶匠又称圆木匠,因为他们制作修理的是饭桶、米桶、水桶、吊桶、马桶、酒桶、脚盆、澡盆、脸盆和锅盖等圆口径的生活用品。箍桶匠用的工具也和木匠不一样,主要有锯、刨、墨斗、钢尺、砂纸、铁丝、铁圆规、老虎钳、尖嘴钳、竹篾圈等。就拿刨子来说,一般木匠的刨子小巧,刨口朝下,主要贴附在木料面上,便于水平推刨。而箍桶匠的刨子长80厘米,宽20厘米,一头高一头低,并且刨口朝上,下面有两只脚用来顶地或是抵在箍桶匠的胸前。刨木头时,箍桶匠把圆桶套在木刨上,移动木料,在刨子上划出美丽的弧度。除了长刨,还有短刨、圆创、尖刨、弓创平刨、粗刨、细刨等十几种,可见刨是箍桶匠的主要工具。
				</P>
				<p>箍桶的木头主要是杉木,纹路直容易切割拼板,且带着原木的色泽,散发隐隐的清香。拼桶不用胶水,依赖的是竹钉,因为铁钉易生锈,会腐蚀木板。箍圈也是篾丝制作,也有破行规用铁皮箍圈的</p>
				<p>河桥街上有名的桶匠除了王登甲、徐小贵就是董开化了。王登甲的桶店开在耶稣堂对面的木板房内,民国时便出名了。小贵师是龙岗人,常年居河桥,以箍桶为业,50年代,他已是古稀老人,虽见过他箍桶的模样,但没留下深刻印象。只有董开化,因为他是河桥人又正值壮年,故较为熟悉。董开化住上街,集体时属誉光大队第六生产队。“要箍桶,找开化”就是那个时候的口头广告。</p>
				<p>
					箍桶讲究的是拼木的弧度和每块木板接缝的密度。桶也罢,盆也罢,在董开化的手下,全凭一把斧子。无论什么桶盆,他先把杉木按桶盆高度尺寸锯成段,然后用略有弧度的竖刀把木段切成板块,接着用斧头劈出每块板的弧度。板与板之间的接面主要靠刨完成。要保证接合面刨得光滑平整,拼接后不透一丝光。唯有桶底要用圆规。一只桶盆漏不漏水,桶底是至关重要的,菜冻先冻头,桶烂先烂底”。高明的桶匠,不仅箍出的桶外表要光滑美观,更主要的是不能漏水,它毕竟是家用的容器。董开化箍出的桶能保证三年内不漏水,这无疑是奇迹了。箍桶匠一般自开店铺,或在家中加工,而董开化没有架子,足迹遍及昌南各乡。
				</p>
				<p>
					按古行规,箍桶匠不到55岁是不能收徒的,不知出于何种原因。拜师学徒要三年多,徒弟要为师傅磨斧头,出门为师傅挑工具。第一步学的是使用斧头,如果斧头拿得不正,就会劈歪削偏,箍出的桶只能是“四不像”。箍桶中有不少数学物理知识,倘若师傅不把窍门告诉你,三年能否出师也是个问题。
				</p>
				<p>
					董开化只带过一个徒弟,叫沈建民,小名航儿,是同一生产队的社员。他继承了董开化的手艺,出师后便独立出门揽活。如今塑料制品大行其道,桶匠无活可干,这门古老的传统技艺面临失传的危险。虽然近年来城市足浴店如雨后春笋,洗脚桶的需求量大增,但毕竟是单一产品,亦有饱和之日,何况这种桶非精美之作,亦不能在农村流行,对于发展提升箍桶技艺并无多少促进。
				</p>
				<p>
					沈建民说他师傅早过世了,而他也放弃了箍桶这一行,在临安城里替人看门管仓库,箍桶的工具堆在家中角落,不时去抹抹灰尘。望着曾依靠它吃饭的家伙,而今只丢弃在墙角,60多岁的沈建民不禁眼角渗出泪珠。
				</p>
				<p>
					令人惊喜的是,正当我们叹息桶匠绝迹时,发现河桥老街仍有一家桶铺开着,店堂里堆满各种各样的成品半成品。店主姓张,白下村人,从事此行已几十年,如今他也年近花甲,但看上去体魄健壮,精神饱满。也许张师傅是河桥唯一坚守箍桶这一行的匠人了吧。
				</p>
				<img src="../static/img/OldStreet/img36.jpg"> -->
			</div>
		</div>
	</div>



	
	<div class="comment-bar">
		留言区<span class="glyphicon glyphicon-menu-down"></span>
	</div>
	<div class="comment-box">
		
	</div>

	<div class="footer">
		<div id="top">
			<ul>
				<li><a href="#"><img src="../static/img/logo.png" id="logo" th:src="@{http://optpqehds.bkt.clouddn.com/bc/images/base/logo.png}"></a></li>
				<li><a href="#"><img src="../static/img/p.png" th:src="@{http://optpqehds.bkt.clouddn.com/bc/images/base/p.png}"></a></li>
				<li><a href="#"><img src="../static/img/F.png" th:src="@{http://optpqehds.bkt.clouddn.com/bc/images/base/F.png}"></a></li>
				<li><a href="#"><img src="../static/img/brid.png" th:src="@{http://optpqehds.bkt.clouddn.com/bc/images/base/brid.png}"></a></li>
				<li><a href="#"><img src="../static/img/video.png" th:src="@{http://optpqehds.bkt.clouddn.com/bc/images/base/video.png}"></a></li>
				<li><a href="#"><img src="../static/img/camera.png" th:src="@{http://optpqehds.bkt.clouddn.com/bc/images/base/camera.png}"></a></li>
				<li id="title">FOLLOW US</li>
			</ul>
		</div>
		<div id="ul-group-box" class="container-fluid">
			<div class="row">
				SouthernLiving.com is part of the Time Inc. Food Collection and the Time Inc. Lifestyle Network. ©2016 Time Inc. Lifestyle Group. Rights Reserved. Look for a Job at Time Inc. Use of this site constitutes acceptance of our Terms of Use and Privacy Policy ( Your California Privacy Rights ). Ad Choices. All products and services featured are selected by our editors. Southern Living may receive compensation for some links to products and services on this website.
			</div>
		</div>
	</div>
</body>
</html>
	<script type="text/javascript" src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
	<script type="text/javascript" src="../static/js/index-nav.js" th:src="@{/js/index-nav.js}"></script>
	<script type="text/javascript" src="../static/js/OldStreet.js"></script>
	<script type="text/javascript" src="../static/js/comment.js"></script>