<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>美丽乡村</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=.7,user-scalable=no,maximum-scale=.7">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" href="../static/css/base.css" th:href="@{/css/base.css}">
	<link rel="stylesheet" type="text/css" href="../static/css/OldStreet.css" th:href="@{/css/OldStreet.css}">
</head>
<body>
	<!-- 遮罩层 -->
	<div id="mask-top"></div>
	<div id="mask-bottom"></div>
	<div id="mask-main">
		
	</div>
	<!-- 第一个版本 -->
	<!-- <div id="header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-6" id="h1-box"><h1>HEAD|<small>COUNTRY-SIDE</small></h1></div>
					<div class="col-xs-2" id="nav-first"><img src="img/index/nav.png"></div>
					<div class="col-xs-2" id="nav-second">
					<a href="#"><img src="img/index/heart-red.png"></a>
					</div>
					<div class="col-xs-2" id="nav-third"><img src="img/index/person.png"></div>
			</div>
		</div>
	</div> -->
		<!-- 第二个版本 -->
	<div id="header">
		<div id="box-left">
			<div id="item1">
				<img src="../static/img/index/nav.png" th:src="@{http://optpqehds.bkt.clouddn.com/bc/images/navbar/nav.png}"><span>MENU</span>
			</div>
		</div>
		<div id="box-right">
			<input type="text" name="" placeholder="Search Someting" id="text"><button id="do" class="glyphicon glyphicon-search"></button>
			<div class="search-items">
				<ul>
					<!-- 此处添加搜索列表 -->
					
					
				</ul>
			</div>
		</div>
		<div id="item4"><span class="glyphicon glyphicon-search"></span></div>
		<a href="login.html" th:if="${session.username == null}" th:href="@{/user/login}"><div id="item3">REGISTER/LOG IN</div></a>
		<a href="login.html" th:if="${session.username != null}" th:href="@{#}"><div id="item3" th:text="${session.username}"></div></a>
		<div id="item2"><a><img src="../static/img/index/heart-red.png" th:src="@{http://optpqehds.bkt.clouddn.com/bc/images/navbar/heart-red.png}"></a>/ do you like our web?</div>
		<div id="logo">
			Beautiful CountrySide
		</div>
	</div>

	<div id="header-static">
		<div id="logo">Beautiful CountrySide</div>
		<div id="menu-box">Menu</div>
		<div id="login-box" th:if="${session.username == null}"><a href="login.html" th:href="@{/user/login}">Login</a></div>
		<div id="login-box" th:if="${session.username != null}"><img src="../static/img/1.jpg" th:src="${session.userHeadImg}"></div>
		<div id="search-box">
			<div id="search">
				<span class="glyphicon glyphicon-search"></span><input type="text" name="search" class="form-control" placeholder="search">
			</div>
		</div>
	</div>
	<!-- 左侧导航条 -->
	<div id="header-left">
		<div id="head">
			<a href="#">ENGLISH</a><span id="text">close <span class="glyphicon glyphicon-remove"></span></span>
		</div>
		<a href="index.html" th:href="@{/}"><div id="items">Home <span class="glyphicon glyphicon-map-marker"></span></div></a>
		<a href="Food.html" th:href="@{/food}"><div id="items">Food <span class="glyphicon glyphicon-fire"></span></div></a>
		<a href="scene.html" th:href="@{/scene}"><div id="items">Scenery <span class="glyphicon glyphicon-leaf"></span></div></a>
		<a href="Policy.html" th:href="@{/policy}"><div id="items">Policy <span class="glyphicon glyphicon-comment"></span></div></a>
		<a href="Black-board.html" th:href="@{/blackboard?pageNum=1}"><div id="items">Blackborad <span class="glyphicon glyphicon-edit"></span></div></a>
		<a href="#"><div id="items">About Us <span class="glyphicon glyphicon-align-right"></span></div></a>
		<div id="bottom"><img src="../static/img/index/qr_code.png" th:src="@{http://optpqehds.bkt.clouddn.com/bc/images/navbar/qr_code.png}"></div>
		<div id="change">Did your eye tired ?<span class="glyphicon glyphicon-off"></span><!-- 此处点击后整个网页变成护眼模式 --></div>
	</div>

	<!-- __________________一条华丽丽的分隔线__________________-->
	
	<div id="body">
		<div id="top">
			<img src="/img/index/bg1.jpg">
			<div id="content"><h1>此处古镇介绍</h1></div>
		</div>
		<div id="content">
			<div class="container-fluid">
					<div class="col-lg-3 col-md-4 col-xs-12" id="items" >
						<div id="img" style="background-image: url('/img/OldStreet/img1.jpg');">
							<a href="/scene/oldstreets?id=1">
								<div id="mask">
									地名溯源
								</div>
							</a>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-xs-12" id="items" >
						<div id="img" style="background-image: url('/img/OldStreet/img2.jpg');">
							<a href="/scene/oldstreets?id=2">
								<div id="mask">
									徜徉老街
								</div>
							</a>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-xs-12" id="items" >
						<div id="img" style="background-image: url('/img/OldStreet/img24.jpg');">
							<a href="/scene/oldstreets?id=3">
							<div id="mask">
								聆听古宅
							</div>
							</a>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-xs-12" id="items" >
						<div id="img" style="background-image: url('/img/OldStreet/img27.jpg');">
							<a href="/scene/oldstreets?id=4">
								<div id="mask">
									祠堂兴衰
								</div>
							</a>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-xs-12" id="items" >
						<div id="img" style="background-image: url('/img/OldStreet/img41.jpg');">
							<a href="/scene/oldstreets?id=5">
								<div id="mask">
									老行当
								</div>
							</a>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-xs-12" id="items" >
						<div id="img" style="background-image: url('/img/OldStreet/img45.jpg');">
							<a href="/scene/oldstreets?id=6">
								<div id="mask">
									民俗活动
								</div>
							</a>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-xs-12" id="items" >
						<div id="img" style="background-image: url('/img/OldStreet/img7.jpg');">
							<a href="/scene/oldstreets?id=7">
								<div id="mask">
									民间故事
								</div>
							</a>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-xs-12" id="items" >
						<div id="img" style="background-image: url('/img/OldStreet/img48.jpg');">
							<a href="/scene/oldstreets?id=8">
								<div id="mask">
									鸡石血雕
								</div>
							</a>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-xs-12" id="items" >
						<div id="img" style="background-image: url('/img/OldStreet/img50.jpg');">
							<a href="/scene/oldstreets?id=9">
								<div id="mask">
									老器具
								</div>
							</a>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-xs-12" id="items" >
						<div id="img" style="background-image: url('/img/OldStreet/img62.jpg');">
							<a href="/scene/oldstreets?id=10">
								<div id="mask">
									梦里老字号
								</div>
							</a>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-xs-12" id="items" >
						<div id="img" style="background-image: url('/img/OldStreet/img63.jpg');">
							<a href="/scene/oldstreets?id=11">
								<div id="mask">
									三教九流篇
								</div>
							</a>
						</div>
					</div>



			</div>
		</div>

	</div>


	<div class="footer">
		<div id="top">
			<ul>
				<li><a href="#"><img src="../static/img/logo.png" id="logo" th:src="@{http://optpqehds.bkt.clouddn.com/bc/images/base/logo.png}"></a></li>
				<li><a href="#"><img src="../static/img/p.png" th:src="@{http://optpqehds.bkt.clouddn.com/bc/images/base/p.png}"></a></li>
				<li><a href="#"><img src="../static/img/F.png" th:src="@{http://optpqehds.bkt.clouddn.com/bc/images/base/F.png}"></a></li>
				<li><a href="#"><img src="../static/img/brid.png" th:src="@{http://optpqehds.bkt.clouddn.com/bc/images/base/brid.png}"></a></li>
				<li><a href="#"><img src="../static/img/video.png" th:src="@{http://optpqehds.bkt.clouddn.com/bc/images/base/video.png}"></a></li>
				<li><a href="#"><img src="../static/img/camera.png" th:src="@{http://optpqehds.bkt.clouddn.com/bc/images/base/camera.png}"></a></li>
			</ul>
		</div>
		<div id="ul-group-box" class="container-fluid">
			<div class="row">
				SouthernLiving.com is part of the Time Inc. Food Collection and the Time Inc. Lifestyle Network. ©2016 Time Inc. Lifestyle Group. Rights Reserved. Look for a Job at Time Inc. Use of this site constitutes acceptance of our Terms of Use and Privacy Policy ( Your California Privacy Rights ). Ad Choices. All products and services featured are selected by our editors. Southern Living may receive compensation for some links to products and services on this website.
			</div>
		</div>
	</div>

</body>
	<script type="text/javascript" src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" src="../static/js/index-nav.js" th:src="@{/js/index-nav.js}"></script>
	<script type="text/javascript" src="../static/js/OldStreet.js" th:src="@{/js/OldStreet.js}"></script>
</html>