<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=.7,user-scalable=no,maximum-scale=.7">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
	<title>Policy-items</title>
	<link rel="stylesheet" type="text/css" href="../static/css/base.css" th:href="@{/css/base.css}">
	<link rel="stylesheet" type="text/css" href="../static/css/Policy-item.css" th:href="@{/css/Policy-item.css}">
</head>
<body>
	<!-- 遮罩层 -->
	<!-- <div id="tip">wrong</div> -->
	<div id="mask-top"></div>
	<div id="mask-bottom"></div>
	<div id="mask-main">
		
	</div>
	<!-- 第一个版本 -->
	<!-- <div id="header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-6" id="h1-box"><h1>HEAD|<small>COUNTRY-SIDE</small></h1></div>
					<div class="col-xs-2" id="nav-first"><img src="img/index/nav.png"></div>
					<div class="col-xs-2" id="nav-second">
					<a href="#"><img src="img/index/heart-red.png"></a>
					</div>
					<div class="col-xs-2" id="nav-third"><img src="img/index/person.png"></div>
			</div>
		</div>
	</div> -->
	<!-- 第二个版本 -->
	<div id="header">
		<div id="box-left">
			<div id="item1">
				<img src="../static/img/index/nav.png" th:src="@{http://optpqehds.bkt.clouddn.com/bc/images/navbar/nav.png}"><span>MENU</span>
			</div>
		</div>
		<div id="box-right">
			<input type="text" name="" placeholder="Search Someting" id="text"><button id="do" class="glyphicon glyphicon-search"></button>
			<div class="search-items">
				<ul>
					<!-- 此处添加搜索列表 -->
					
					
				</ul>
			</div>
		</div>
		<div id="item4"><span class="glyphicon glyphicon-search"></span></div>
		<a href="login.html" th:if="${session.username == null}" th:href="@{/user/login}"><div id="item3">登录/注册</div></a>
		<a href="login.html" th:if="${session.username != null}" th:href="@{#}"><div id="item3" th:text="${session.username}"></div></a>
		<div id="item2"><a><img src="../static/img/index/heart-red.png" th:src="@{http://optpqehds.bkt.clouddn.com/bc/images/navbar/heart-red.png}"></a>/ do you like our web?</div>
		<div id="logo">
			河桥古镇
		</div>
	</div>

	<div id="header-static">
		<div id="logo">河桥古镇</div>
		<div id="menu-box">Menu</div>
		<div id="login-box" th:if="${session.username == null}"><a href="login.html" th:href="@{/user/login}">登录</a></div>
		<div id="login-box" th:if="${session.username != null}"><img src="../static/img/1.jpg" th:src="${session.userHeadImg}"></div>
		<div id="search-box">
			<div id="search">
				<span class="glyphicon glyphicon-search"></span><input type="text" name="search" class="form-control" placeholder="search">
			</div>
		</div>
	</div>
	<!-- 左侧导航条 -->
	<div id="header-left">
		<div id="head">
			<span id="text">close <span class="glyphicon glyphicon-remove"></span></span>
		</div>
		<a href="index.html" th:href="@{/}"><div id="items">主页 <span class="glyphicon glyphicon-map-marker"></span></div></a>
		<a href="Food.html" th:href="@{/food}"><div id="items">美食 <span class="glyphicon glyphicon-fire"></span></div></a>
		<a href="scene.html" th:href="@{/scene}"><div id="items">风景 <span class="glyphicon glyphicon-leaf"></span></div></a>
		<a href="Policy.html" th:href="@{/policy}"><div id="items">新闻 <span class="glyphicon glyphicon-comment"></span></div></a>
		<a href="Black-board.html" th:href="@{/blackboard?pageNum=1}"><div id="items">留言板 <span class="glyphicon glyphicon-edit"></span></div></a>
		<a href="#"><div id="items">关于我们 <span class="glyphicon glyphicon-align-right"></span></div></a>
		<div id="bottom"><img src="../static/img/index/qr_code.png" th:src="@{http://optpqehds.bkt.clouddn.com/bc/images/navbar/qr_code.png}"></div>
		<div id="change">暗色调模式<span class="glyphicon glyphicon-off"></span><!-- 此处点击后整个网页变成护眼模式 --></div>
	</div>

	<!-- __________________一条华丽丽的分隔线__________________-->
	<div class="container-fuild" id="body1">
		<div id="top">
			<a href="Policy.html" th:href="@{/policy}"><span class="glyphicon glyphicon-comment"></span> 返回上一页</a>
		</div>
		<div class="content">
			<h1>临安河桥古镇4A景区被摘牌 记者调查发现名不副实</h1>
			<h1 th:text="${id}"></h1>
			<div class="items items-3">
				<div class="title-box"><h3>小小昌化县 大大河桥镇</h3></div>
				<div class="content-box">
					<p>
						河桥，一个拥有1300多年灿烂历史的古镇，全镇地域面积190.8平方公里，人口1.8万。它因位于临安西南部，柳溪江畔昌化，坐落在三水交汇的地方，有河有桥因而得“河桥”之名。古时候的河桥是昌化县的县治，在明朝的嘉靖年间，昌化县设立了四镇，河桥因“邑水口形胜商务独冠唐昌”而被列于首位，从这时候开始，河桥镇便有了“唐昌首镇”的美誉，河桥当地至今还流传着一句话：“小小昌化县，大大河桥镇”，由此可见河桥镇在当地的地位显著，在抗日战争时期，河桥镇逐渐成为了浙西地区一个重要的抗日大后方。新时期的河桥，一度因为它的丰富的民俗历史文化以及浑然天成的古街气韵得以成为浙西文化的一张靓丽名片。
					</p>
					<p>
						作为临安唯一的古镇旅游项目，河桥镇也在新时期的旅游业发展和推动下，成为了国家的4A级旅游风景区。据了解，2000年，河桥镇入选了浙江省第二批省级历史文化保护区。2010年，杭州打造了13个“风情小镇”，河桥也位列其中，此后河桥镇致力于打造“杭徽古道-柳溪江特色文化小镇”。
					</p>
				</div>
			</div> 
			<div class="items items-1">
				<div class="title-box"><h3>“不值票价”的AAAA级景区</h3></div>
				<div class="content-box">
					<p>
						从杭州去河桥古镇有两种方式：一是驾车前往，二是去杭州汽车西站坐车到昌化车站，然后在当地转乘公交小巴到达景区门口，两种方式要花费2.5到3小时左右。
					</p>
					<p>
						12月7日下午，记者来到河桥古镇景区。景区并没有开通任何的旅游专线，昌化车站去景点门口的小巴也只是途径景点，从昌化车站到景点的路上，记者发现道路上很少有去古镇景区的交通路线引导标识，这无疑给出行去景区的旅客带来不少麻烦。到了景点后，记者发现原价80元的门票现在打折出售只要40元，而且时下热门便捷的支付宝和微信付款等支付方式都不能使用。售票人员告诉记者“门票半价是近期推出的优惠活动”。
					</p>
					<p>
						记者随后进入了挂着河桥以及唐昌古镇牌匾的古镇景区，景区里的游客屈指可数，里面卖河桥粉丝的食品店以及旅游纪念品的小店一律处于关闭的状态，原本的一条小商业街居然没有一个店铺是开门的，场面十分冷清。
					</p>
					<p>
						一旁的工作人员告诉记者店铺关门的原因是“没什么生意，所以关门了。”在景区内，记者观察到整个景区只有寥寥几个纪念馆、博物馆。记者在工作人员的指引下，来到了号称景区内最具特色的“十里红妆民俗博物馆”，记者来到二楼的博物馆内，发现里面摆列着数十个古代婚嫁用具，但用具旁边的资料介绍却很简单，而且所有展品都裸露在空气之中，安保措施也不严格。记者询问了在场的工作人员发现古镇景区并没有一般景点所具备的语音导览功能，由此观赏效果大打折扣。
					</p>
					<p>
						记者采访到一位游客，他表示来到这个古镇景区也是因为前几天“看到央视曝光的消息”。对于景区的感受，他们认为“不值票价，东西太少而且娱乐设施很单一”，“难以跟同类型古镇的乌镇景区相提并论。”不到十分钟的时间，记者便走完了这个需要买票进入的古镇景区。
					</p>
				</div>
			</div>  
			<div class="items items-2">
				<div class="title-box"><h3>河桥老街年久失修 经营业主忧心忡忡</h3></div>
				<div class="content-box">
					<p>
						记者随后来到了位于景区后面的老街景点。景区入口的宣传栏河宣传册上写着“依山傍水的古街，带着远古沧桑气息的徽派建筑”，“河桥老街：富甲千年，繁华似锦。”由此可见河桥老街作为河桥古镇的象征，是古镇文化的直接反映。
					</p>
					<p>
						记者满怀期望地走在老街上，发现历史上记载的热闹非凡、商贾云集的河桥老街现今清冷异常。位于老街两旁的几百家商铺均处于关门的状态，街上的行人很少，只有几个居民在街上闲话家常，而老街上很多建筑因为年久失修而呈现破败塌陷状。一个在门口做木工的师傅告诉记者老街已经很少有年轻人居住，因为“他们年轻人都跑去外地打工了。”对于景区被摘牌的消息，师傅表示他们老街上的大部分居民都已经知道这个处理结果，师傅同时也表达了他对老街景点的一些看法“这个老街是没什么好玩的。说的难听点，街上连公共厕所都没有，你们游客想解决大小便也很麻烦。”
					</p>
					<p>
						记者随后进入了挂着河桥以及唐昌古镇牌匾的古镇景区，景区里的游客屈指可数，里面卖河桥粉丝的食品店以及旅游纪念品的小店一律处于关闭的状态，原本的一条小商业街居然没有一个店铺是开门的，场面十分冷清。
					</p>
					<p>
						记者开始在街上寻找饭店，但是老街上的小吃店都大门紧闭，最后记者走到老街尽头，发现了一家土菜馆。土菜馆的老板对景区被摘牌表示了很大的担忧，“景区以后肯定要想办法改善环境，吸引游客，这样我们做生意也会好很多。”
					</p>
					<p>
						已经被摘牌的临安河桥古镇会不会拿出整改措施？如何应对经营业主和游客的期待？央广网记者将继续关注。
					</p>
				</div>
			</div>  
		</div>
		<div id="bottom">
			<ul>
				<li>2017-05-06</li>
			</ul>
		</div>
	</div>
	<div class="footer">
		<div id="top">
			<ul>
				<li><a href="#"><img src="../static/img/logo.png" id="logo" th:src="@{http://optpqehds.bkt.clouddn.com/bc/images/base/logo.png}"></a></li>
				<li><a href="#"><img src="../static/img/p.png" th:src="@{http://optpqehds.bkt.clouddn.com/bc/images/base/p.png}"></a></li>
				<li><a href="#"><img src="../static/img/F.png" th:src="@{http://optpqehds.bkt.clouddn.com/bc/images/base/F.png}"></a></li>
				<li><a href="#"><img src="../static/img/brid.png" th:src="@{http://optpqehds.bkt.clouddn.com/bc/images/base/brid.png}"></a></li>
				<li><a href="#"><img src="../static/img/video.png" th:src="@{http://optpqehds.bkt.clouddn.com/bc/images/base/video.png}"></a></li>
				<li><a href="#"><img src="../static/img/camera.png" th:src="@{http://optpqehds.bkt.clouddn.com/bc/images/base/camera.png}"></a></li>
			</ul>
		</div>
		<div id="ul-group-box" class="container-fluid">
			<div class="row">
				<br>
				<center>这是我们第一次合作制作网站，有什么不足可以联系我们<br>email : 1051333460@.com</center>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" src="../static/js/index-nav.js" th:src="@{/js/index-nav.js}"></script>
</body>
</html>