#body #top{
	width: 100%;
	height: 800px;
}
#body #top img{
	width: 100%;
	height: 800px;
	filter: blur(10px);
	position: absolute;
	top: 0;
	left: 0;
}
#body #top #content{
	height: 400px;
	width: 800px;
	position: absolute;
	top: 40%;
	left: 50%;
	margin-left: -400px;
	margin-top: -200px;
	background: rgba(225,225,225,0.75);
	text-align: center;
}
#body #content{
	width: 80%;
	margin: auto;
	min-width: 360px;
}
.container-fluid{
	max-width: 100%;
}
#body #content #items{
	cursor: pointer;
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: relative;
	transition: transform 0.1s;
	transition-delay: 1s;
	transform: translate(0,100vh);
	height: 200px;
}

#body #content #items #img{
	background-image: url("../img/bg3.jpg");
	background-position: center ;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}
#body #content #items #img #mask{
	height: 0px;
	background: rgba(25,25,25,0.85);
	width: 100%;
	height: 150px;
	transform: translate(0,-150px);
	color:#fafafa;
	padding: 30px;
	text-align: center;
}
#body #content #items img{
	width: 100%;
}
@keyframes up-in{
	0%{
		top: 100vh;
	}
	100%{
		top: 0;
	}
}