.register-content{
	position: absolute;
	width: 500px;
	border: 1px solid #000;
	top: 200px;
	left: 200px;
	padding: 80px 0px 0px 40px;
}
.form-group label{
	width: 5em;
	text-align: center;
}
.input-group span{
	z-index: 10;
}
#register{
	margin: 40px auto;
	display: block;
	width: 100px;
}
#head-img{
	width: 100px;
	height: 100px;
}