.section {
	height: 100vh !important;
	position: relative;
}
.section img{
	min-height: 100vh;
	min-width: 100vw;
	z-index: 0;
}
.scene-intro{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 30vw;
	min-width: 50rem;
	background-color: rgba(0,0,0,.7);
	z-index: 1;

	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}
.intro-text{
	color: #FFF;
	padding: 5rem;
}
.intro-text h1{
	font-size: 5rem;
	text-align: center;
}
.intro-text p{
	font-size: 2rem;
	text-indent: 2em;
	max-width: 30em;
	margin: 0 auto;
}
@media (max-width: 768px){
	.section img{
		min-height: 40vh;
		height: 40vh;
		min-width: 100vw;
		overflow: hidden;
		z-index: 0;
	}
	.scene-intro{
 		display:table;
		position: absolute;
		bottom: 0;
		width: 100vw;
		min-height: 60vh;
		background-color: rgba(0,0,0,.7);
		z-index: 1;
	}
	.intro-text{
	 	vertical-align:middle;
	    display:table-cell;
		color: #FFF;
		padding: 5rem;
 		top: 0; left: 0; bottom: 0; right: 0;
		margin: auto;
	}
	.intro-text h1{
		font-size: 5rem;
		text-align: center;
	}
	.intro-text p{
		font-size: 2rem;
		text-indent: 2em;
		max-width: 30em;
		margin: 0 auto;
	}
}

.fp-tableCell{
	display: table;
}
.container-fluid{
	display: table-cell;
	vertical-align: middle;
}
